urlglob does not allow dashes in IPv6 zone ID

It seems that urlglob's IPv6 parsing is less lenient than the actual URL parsing is, it doesn't allow for dashes..

### I did this

```
marisa ~> curl -v 'http://[fe80::1%foo-bar]/`
curl: (3) bad range in URL position 9:
http://[fe80::1%foo-bar]/
        ^
```

### I expected the following
```
marisa ~> curl -gv 'http://[fe80::1%foo-bar]/'
*   Trying fe80::1:80...
```

### curl/libcurl version
```
curl 7.70.0 (x86_64-pc-linux-gnu) libcurl/7.70.0 OpenSSL/1.1.1g zlib/1.2.11 libssh2/1.9.0 nghttp2/1.40.0
Release-Date: 2020-04-29
Protocols: dict file ftp ftps gopher http https imap imaps pop3 pop3s rtsp scp sftp smb smbs smtp smtps telnet tftp
Features: AsynchDNS GSS-API HTTP2 HTTPS-proxy IPv6 Kerberos Largefile libz NTLM NTLM_WB SPNEGO SSL TLS-SRP UnixSockets
```
### operating system
`Linux marisa 5.6.15 #1-NixOS SMP Wed May 27 15:48:31 UTC 2020 x86_64 GNU/Linux`

On Wed, Jun 17, 2020 at 10:23:14AM -0700, puckipedia wrote:
> marisa ~> curl -v 'http://[fe80::1%foo-bar]/`
> curl: (3) bad range in URL position 9:
> http://[fe80::1%foo-bar]/

This isn't a valid URL. The percent must be escaped, i.e.
http://[fe80::1%25foo-bar]/


```
marisa ~> curl -v 'http://[fe80::1%25foo-bar]/'
curl: (3) bad range in URL position 9:
http://[fe80::1%25foo-bar]/
```

And either way, RFC6874 Section 3 suggests parsers be liberal in accepting non-percent-escaped zone IDs in IPv6 literals.

You need the -g option to use IPv6 literal addresses. This is documented
somewhere.


The only reference to globbing and IPv6 I could find is <https://ec.haxx.se/cmdline/cmdline-globbing>, which says:

> The globbing uses the reserved symbols [] and {} for this, symbols that normally cannot be part of a legal URL (except for numerical IPv6 addresses but curl handles them fine anyway). If the globbing gets in your way, disable it with `-g, --globoff`.

now, I can see why this is occuring, but `src/tool_urlglob.c` seems to imply that IPv6 addresses are not parsed as ranges by the globbing mechanism: https://github.com/curl/curl/blob/8bc25c590e530de87595d1bb3577f699eb1309b9/src/tool_urlglob.c#L368

If IPv6 literal addresses in URLs shouldn't be supported without `-g`, why is this rule not applied consistently?

Look like the `peek_ipv6` function needs to be fixed to deal with zone id better:

https://github.com/curl/curl/blob/8bc25c590e530de87595d1bb3577f699eb1309b9/src/tool_urlglob.c#L322-L350

@puckipedia do you have the ability to try out my patch for this?

Looks like it works for me, thank you very much!

```
marisa ~> $result/bin/curl -v 'http://[fe80::1%foo-bar]/'
*   Trying fe80::1:80...
* Connected to fe80::1 (fe80::1) port 80 (#0)
```