curl maybe does not process dns *.*.*.domain.com certificates correctly

Testing one level, works

```
[@]$ curl https://synapse.dev.marathon.mesos:31371/_matrix/static
<html>
    <head>
        <meta http-equiv="refresh" content="0;URL=/_matrix/static/">
    </head>
    <body bgcolor="#FFFFFF" text="#000000">
    <a href="/_matrix/static/">click here</a>
    </body>
</html>
```

Testing 2nd level, gives error

```
[@ ]$ curl https://synapse.matrix.dev.marathon.mesos:31738/_matrix/static
curl: (51) Unable to communicate securely with peer: requested domain name does not match the server's certificate.
```

Looks like openssl works
```

 openssl s_client -connect synapse.matrix.dev.marathon.mesos:31738 -tls1_2
 
     TLS session ticket lifetime hint: 7200 (seconds)
    TLS session ticket:
    0000 - 70 fe 58 00 ba d6 2f 9e-50 71 93 e5 6e b9 67 75   p.X.../.Pq..n.gu
    0010 - 4a c6 06 80 db 1b 3d 7e-ea 48 64 20 29 b5 73 b5   J.....=~.Hd ).s.
    0020 - 52 0e 86 96 d7 e0 67 4d-bf f1 49 c2 e7 54 75 e6   R.....gM..I..Tu.
    0030 - b9 8f 53 d8 36 79 24 00-71 ca b0 0a 07 e4 df fa   ..S.6y$.q.......
    0040 - fb f5 de 67 1d ae 83 bb-a8 b4 1c 6f 70 93 6d 69   ...g.......op.mi
    0050 - 18 d1 c6 30 29 e2 bd c0-ec 35 8e 13 e6 af 5e 07   ...0)....5....^.
    0060 - 20 82 3a a0 1c 02 4d 93-c2 9e c3 da ae 00 7e b6    .:...M.......~.
    0070 - 24 d5 67 1a be f2 af 86-43 9e 80 89 4e 0e 54 63   $.g.....C...N.Tc
    0080 - 1e 5f b7 ac 56 63 88 e2-75 a2 f8 66 4b 15 58 03   ._..Vc..u..fK.X.
    0090 - 5e 45 d4 88 a6 f0 ac 71-d6 fd 75 dc 86 ea 8d df   ^E.....q..u.....

    Start Time: 1618830147
    Timeout   : 7200 (sec)
    Verify return code: 0 (ok)

```

This is cert config

```
[@ -synapse]$ openssl x509 -in dev.marathon.mesos.crt -text -noout | grep DNS
DNS:*.dev.marathon.mesos, DNS:*.*.dev.marathon.mesos, DNS:*.*.*.dev.marathon.mesos
```


[@]$ rpm -qa | grep curl
libcurl-devel-7.29.0-59.el7_9.1.x86_64
libcurl-7.29.0-59.el7_9.1.x86_64
curl-7.29.0-59.el7_9.1.x86_64

I do not know to much about the tls backend, just testing a bit with matrix-synapse


You skipped the template part where we ask what curl version and what TLS backend (and version) you're using...

Sorry, but we won't care about issues in 7.29.0. If you can reproduce in a modern version, please let us know.

RFC 2818 section 3.1:

>   Names may contain the wildcard
>   character * which is considered to match any single domain name
>   component or component fragment. E.g., *.a.com matches foo.a.com but
>   not bar.foo.a.com. f*.com matches foo.com but not bar.com

Then add RFC 6125 section 6.4.3 and 7.2

It isn't valid to have more than one wildcard character and that wildcard only matches within that "label".

I think this RFC [1] is not very clear about ruling out the *.*. syntax "but MAY be checked by application clients".
It looks like openssl is supporting it and haproxy is also accepting it. Is it not best to follow what openssl is doing? Pki is their core business, they probably know best.

[1]
https://tools.ietf.org/html/rfc6125#section-7.2

curl works with TLS servers using many different protocols using many different TLS libraries and we follow specs that explain how TLS works and should be used on the Internet to the best of our abilities.

You will see that browsers and other HTTPS tools and libraries will agree with curl on this behavior, since they too tend to go this route of standards and security. That you can make a command line tool made by openssl to agree is not a convincing argument.

> That you can make a command line tool made by openssl to agree is not a convincing argument.

This is a default centos/el distribution that is probably the most used in professional production environments (lets forget about this stream debacle) and afaik almost anything in linux is using the openssl libraries. 

And lets be honest the pushed standards by browsers are more often pushed by politics. Look how google/chrome is ignoring this CA organization when it does not please their own view. So following their lead is not really an argument as well.




