URL: dedotdotification not done on %2e

### I did this

[Section 5.2.4 of RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2.4) describes how to "Remove Dot Segments". What I call *dedotdotification*. A path like `/hello/../foobar` should become `/foobar` in the request.

In a URL, said dots (periods) can be encoded as `%2e`, meaning that  `/hello/%2e%2e/foobar` should also end up `/foobar` in the request. In current curl, this does not happen when one or two of the dots are percent encoded. The same goes for removing `/%2e/` sequences, when the period is encoded.

### I expected the following

Correct dedotdotification.

### curl/libcurl version

current curl master

### operating system

any