Curl is not correctly resolving docker.localhost domain since version 7.85.0

Hi, I have been trying to figure out what the issue is with curl when resolving `https://docker.localhost` from within docker containers and I found that since this version `7.85.0` im not able to resolve `docker.localhost` domain, for example:

Version: 7.85.0 (or any other above all the way to 8.0.1)

```
docker exec -it container-1 curl -V

curl 7.85.0 (x86_64-pc-linux-musl) libcurl/7.85.0 OpenSSL/3.0.8 zlib/1.2.13 brotli/1.0.9 zstd/1.5.5 nghttp2/1.51.0
Release-Date: 2022-08-31
Protocols: dict file ftp ftps gopher gophers http https imap imaps mqtt pop3 pop3s rtsp smb smbs smtp smtps telnet tftp 
Features: alt-svc AsynchDNS brotli HSTS HTTP2 HTTPS-proxy IPv6 Largefile libz NTLM NTLM_WB SSL threadsafe TLS-SRP UnixSockets zstd


docker exec -it container-1 curl -Ivvvv https://s3.docker.localhost

*   Trying 127.0.0.1:443...
* connect to 127.0.0.1 port 443 failed: Connection refused
*   Trying ::1:443...
* Immediate connect fail for ::1: Address not available
* Failed to connect to s3.docker.localhost port 443 after 0 ms: Connection refused
* Closing connection 0
curl: (7) Failed to connect to s3.docker.localhost port 443 after 0 ms: Connection refused

```


Version: 7.84.0
```
docker exec -it container-1 curl -V

curl 7.84.0 (x86_64-pc-linux-musl) libcurl/7.84.0 OpenSSL/3.0.8 zlib/1.2.13 brotli/1.0.9 zstd/1.5.5 nghttp2/1.51.0
Release-Date: 2022-06-27
Protocols: dict file ftp ftps gopher gophers http https imap imaps mqtt pop3 pop3s rtsp smb smbs smtp smtps telnet tftp 
Features: alt-svc AsynchDNS brotli HSTS HTTP2 HTTPS-proxy IPv6 Largefile libz NTLM NTLM_WB SSL threadsafe TLS-SRP UnixSockets zstd


docker exec -it container-1 curl -Ivvvv https://s3.docker.localhost

*   Trying 172.5.0.2:443...
* Connected to s3.docker.localhost (172.5.0.2) port 443 (#0)
* ALPN: offers h2
* ALPN: offers http/1.1
*  CAfile: /etc/ssl/certs/ca-certificates.crt
*  CApath: none
* TLSv1.0 (OUT), TLS header, Certificate Status (22):
* TLSv1.3 (OUT), TLS handshake, Client hello (1):
* TLSv1.2 (IN), TLS header, Certificate Status (22):
* TLSv1.3 (IN), TLS handshake, Server hello (2):
* TLSv1.2 (IN), TLS header, Finished (20):
* TLSv1.2 (IN), TLS header, Supplemental data (23):
* TLSv1.3 (IN), TLS handshake, Encrypted Extensions (8):
* TLSv1.2 (IN), TLS header, Supplemental data (23):
* TLSv1.3 (IN), TLS handshake, Certificate (11):
* TLSv1.2 (IN), TLS header, Supplemental data (23):
* TLSv1.3 (IN), TLS handshake, CERT verify (15):
* TLSv1.2 (IN), TLS header, Supplemental data (23):
* TLSv1.3 (IN), TLS handshake, Finished (20):
* TLSv1.2 (OUT), TLS header, Finished (20):
* TLSv1.3 (OUT), TLS change cipher, Change cipher spec (1):
* TLSv1.2 (OUT), TLS header, Supplemental data (23):
* TLSv1.3 (OUT), TLS handshake, Finished (20):
* SSL connection using TLSv1.3 / TLS_AES_128_GCM_SHA256
* ALPN: server accepted h2
* Server certificate:
*  subject: O=mkcert development certificate; OU=milewski@milewski-blade
*  start date: Jan 16 13:18:00 2023 GMT
*  expire date: Apr 16 13:18:00 2025 GMT
*  subjectAltName: host "s3.docker.localhost" matched cert's "*.docker.localhost"
*  issuer: O=mkcert development CA; OU=milewski@milewski-blade; CN=mkcert milewski@milewski-blade
*  SSL certificate verify ok.
* Using HTTP2, server supports multiplexing
* Copying HTTP/2 data in stream buffer to connection buffer after upgrade: len=0
* TLSv1.2 (OUT), TLS header, Supplemental data (23):
* TLSv1.2 (OUT), TLS header, Supplemental data (23):
* TLSv1.2 (OUT), TLS header, Supplemental data (23):
* h2h3 [:method: HEAD]
* h2h3 [:path: /]
* h2h3 [:scheme: https]
* h2h3 [:authority: s3.docker.localhost]
* h2h3 [user-agent: curl/7.84.0]
* h2h3 [accept: */*]
* Using Stream ID: 1 (easy handle 0x7fce4f603aa0)
* TLSv1.2 (OUT), TLS header, Supplemental data (23):
> HEAD / HTTP/2
> Host: s3.docker.localhost
> user-agent: curl/7.84.0
> accept: */*
> 
* TLSv1.2 (IN), TLS header, Supplemental data (23):
* TLSv1.3 (IN), TLS handshake, Newsession Ticket (4):
* TLSv1.2 (IN), TLS header, Supplemental data (23):
* Connection state changed (MAX_CONCURRENT_STREAMS == 250)!
* TLSv1.2 (OUT), TLS header, Supplemental data (23):
* TLSv1.2 (IN), TLS header, Supplemental data (23):
* TLSv1.2 (IN), TLS header, Supplemental data (23):
* TLSv1.2 (IN), TLS header, Supplemental data (23):
< HTTP/2 400 
HTTP/2 400 
< accept-ranges: bytes
accept-ranges: bytes
< content-type: application/xml
content-type: application/xml
< date: Thu, 11 May 2023 15:02:16 GMT
date: Thu, 11 May 2023 15:02:16 GMT
< server: MinIO
server: MinIO
< vary: Origin
vary: Origin
< content-length: 225
content-length: 225

< 
* Connection #0 to host s3.docker.localhost left intact

````

The 2 versions above I have compiled from source, the same base os Alpine 3.17, and it seems to only happen specifically with `docker.localhost` if I rename it to `docker.local` for example it works...

This is a deliberate change. See https://github.com/curl/curl/pull/9296

Also see [RFC 6721 section 6.3](https://datatracker.ietf.org/doc/html/rfc6761#section-6.3)

This change just broke our full development environment. Curl can't resolve other containers on .localhost domains in our docker-compose stack. 

From the host machine all works well and resolves to 127.0.01, which is OK. But all external .localhost hosts (defined via extra_hosts in /etc/hosts) has broken inside all containers which has updated curl to 7.85.0+. So /etc/hosts file is fully ignored by curl.

So the only option is to change .localhost domains for full development environment, right? (will take some time)
Is there no switch or config to bypass this change inside the container?


@stankolubomir this is you using bad host names. [RFC 6761](https://datatracker.ietf.org/doc/html/rfc6761#section-6.3) is quite clear on how to deal with `.localhost` names:

> Name resolution APIs and libraries SHOULD recognize localhost names as special and SHOULD always return the IP loopback address for address queries and negative responses for all other query types.

You can easily use `.remotehost` instead, as that seems to be more correct according to your spec.

Since I reported this issue, I have not yet found a better way to handle my setup. Previously, I could have N domains like:

```
fun01.project-a.docker.localhost
fun02.project-a.docker.localhost
fun03.project-a.docker.localhost

fun01.project-b.docker.localhost
fun02.project-b.docker.localhost
fun03.project-b.docker.localhost
```

However, now, due to the fact that curl completely ignores the hosts when it sees `.localhost`, I have to change the domain to `.notlocalhost`, etc. This is a pain because for every project, I now have to manually open my `/etc/hosts` file and type a lot of `127.0.0.1 xx.notlocalhost`. Additionally, I have to teach/explain to other users who set up the project on their machines to do the same.

Previously, it just worked out of the box without anyone ever having to touch any hosts files manually.

So, isn't there any way to bypass this? Perhaps placing a config in the home directory that bypasses this behavior? The only solution I'm seeing currently is to actually downgrade curl on all my containers:

```dockerfile
RUN apk add --no-cache alpine-sdk && \
    wget "https://github.com/curl/curl/releases/download/curl-7_84_0/curl-7.84.0.zip" && \
    unzip curl-7.84.0.zip && \
    cd curl-7.84.0 && \
    ./configure --with-openssl && make && make install && \
    apk del alpine-sdk && \
    rm -rf curl-*
```

I don't understand the argument here, every report I read of this is someone misusing the .localhost domain for a private network, why is that? Is there some Docker related software or how-to telling people to do that?

Let me give you an example of one of my current "broken" development setups, and please tell me how this could fits the "misuse of .localhost"

I use an object storage service named [MinIO](https://min.io/) in conjunction with a PHP container. Users of my PHP application submit files through a form to the PHP container, which then forwards them to the MinIO container. Subsequently, users can access these files by communicating directly with the MinIO container. This arrangement can be seen in the image below:

<img width="1220" alt="image" src="https://github.com/curl/curl/assets/2874967/c91bef05-6b86-4111-95b1-1333ea48b06e">

Technically, PHP can be configured to send the file to MinIO using the IP of the MinIO container, represented as http://minio:9000. MinIO offers configurations to modify this service URL, resulting in the following flow:

<img width="1132" alt="image" src="https://github.com/curl/curl/assets/2874967/7a949862-94ab-4f29-8ec7-46bbc0c1298d">

However, note in the image above how this is broken; the user is unable to visualize the file anymore since [http://172.0.0.1:80](http://172.0.0.1/) is only valid within the Docker network.

This example is just one of many that have broken for me. Also one might argue that all of this could be resolved by using a reverse proxy and writing complicated rewritten rules to lie to the service it is proxying, making it believe it is running on a domain different from the one the user is actually accessing. However, MinIO also provides a management UI with download/share links, etc., and using this approach would display the URLs incorrectly. Ultimately, the simplest solution is now broken due to this change in cURL.

I have an example of the setup above in this public repository if anyone is interested in seeing this issue in practice: https://github.com/milewski/laravel-traefik-franken-boilerplate

.localhost is for the loopback IP address which for IPv4 is 127.0.0.1. 

> .localhost is for the loopback IP address which for IPv4 is 127.0.0.1.

Exactly. However, notice how I manually instruct the PHP container in my first image to map `s3.docker.localhost` to `172.0.0.1`. Since curl no longer reads the hosts when it encounters `.localhost`, it resolves to `127.0.0.1` instead of `172.0.0.1` as written in the hosts file... 

Would be nice to have a this behavior configurable in `.curlrc` https://everything.curl.dev/cmdline/configfile#default-config-file so we can prevent it from assuming we want to use `*.localhost -> 127.0.0.1` for everything and go fetch what it should do on the `/etc/hosts` file instead... 

> However, notice how I manually instruct the PHP container in my first image to map `s3.docker.localhost` to `172.0.0.1`

That's what I mean by misuse. I do not understand why you are caught up on using .localhost to do that.


> I do not understand why you are caught up on using .localhost to do that.

For convenience. I could replace all the domains ending in `.localhost` that I've been using with `.somethingelse`, and this would work correctly. 

However, an additional step would be necessary: I would need to manually update my computer's `/etc/hosts` file (not the Docker ones) to map all these domains back to `127.0.0.1`. Moreover, it's not just me; I would need to guide other developers working on the same project to do the same on their computers.

Unlike `.localhost`, which behaves like `127.0.0.1 *.localhost` in a host file by default, any other domains would require manual entry one by one.

In a perfect scenario, all I want is to simply run `docker-compose up` and be done, without having to manually tweak the hosts file for things to work locally.

> For me, it's about balancing adherence to standards with the practical needs of developers.

Why do developers *need* to use `.localhost` for non-localhost hosts? Can I propose using `.local` ?

We have problem with this or similar to this:

- we start containers with Docker compose, eg. `php` and `solr` (service names)
- in `php` we will find `solr` with `ping -c1 solr` but `curl solr:8983` fails (curl is 8.5.x)
- if we downgrade curl to 7.x, curl calls again work. Also php things which use curl to connect to Solr.


@back-2-95 you're using a bad host name. I recommend you use `.local` and not `.localhost`.

We don't use in this scenario hostname like `.local` and `.localhost`. Just the service name which docker compose sets. Previously it has worked and then it stopped working for anything which used curl for connections. Like php to solr, php to elasticsearch. Databases like mysql, mariadb and redis work just fine with service name from docker-compose.yml as they don't use curl. In php scripts we overcame this problem with e.g. `gethostbyname('solr')`

Then you have a completely different issue. Probably outside of curl I would guess.

If using curl -vvvv, it shows that these service names resolve to 127.0.0.1 instead of ip of the container:

```console
curl http://solr:8983 -vvvv
* Host solr:8983 was resolved.
* IPv6: (none)
* IPv4: 127.0.0.1
*   Trying 127.0.0.1:8983...
* connect to 127.0.0.1 port 8983 from 127.0.0.1 port 41234 failed: Connection refused
* Failed to connect to solr port 8983 after 4 ms: Couldn't connect to server
* Closing connection
curl: (7) Failed to connect to solr port 8983 after 4 ms: Couldn't connect to server
```

yeah, we're not totally sure atm what causes this

Just adding these which work (Alpine container `php` calling `solr` container):

```console
ping -c1 solr
wget -O- http://solr:8983
php -r "print file_get_contents('http://solr:8983');"
php -r "print gethostbyname('solr');"
```

1. Please add more to this **unrelated** issue
2. If you have a curl issue, please submit one and provide all the details there. People don't follow old closed issues.
3. Please tell us how to repro this with a current curl.

I also got hit by this. What are the benefits of resolving *.localhost to 127.0.0.1 by force exactly?