Issue when connecting to raw ipv6 addresses on Windows

<!-- Only file bugs here! Ask questions on the mailing lists https://curl.se/mail/

     SECURITY RELATED? Post it here: https://hackerone.com/curl

     There are collections of known issues to be aware of:
     https://curl.se/docs/knownbugs.html
     https://curl.se/docs/todo.html       -->

### I did this
I'm trying to connect to an ipv6 address to retrieve data from it with ```curl [ipv6 literal]```. But i get ```curl: (7) Failed to connect to "address" port "" after 0 ms: Address not available```.
If i try the same command on the same machine with curl installed on WSL the connection succeedes and i get the data.
The same behaviour happens when using libcurl as library for other programs.

### I expected the following
I expected curl to properly resolve the address and connect to it to retrieve the data llike it does on the WSL instance.

### curl/libcurl version

```
curl 7.78.0 (x86_64-pc-win32) libcurl/7.78.0 OpenSSL/1.1.1k (Schannel) zlib/1.2.11 brotli/1.0.9 zstd/1.5.0 libidn2/2.3.2 libssh2/1.9.0 nghttp2/1.44.0 libgsasl/1.10.0
Release-Date: 2021-07-21
Protocols: dict file ftp ftps gopher gophers http https imap imaps ldap ldaps mqtt pop3 pop3s rtsp scp sftp smb smbs smtp smtps telnet tftp
Features: alt-svc AsynchDNS brotli gsasl HSTS HTTP2 HTTPS-proxy IDN IPv6 Kerberos Largefile libz MultiSSL NTLM SPNEGO SSL SSPI TLS-SRP UnixSockets zstd
```

and on WSL
```
curl 7.64.0 (x86_64-pc-linux-gnu) libcurl/7.64.0 OpenSSL/1.1.1d zlib/1.2.11 libidn2/2.0.5 libpsl/0.20.2 (+libidn2/2.0.5) libssh2/1.8.0 nghttp2/1.36.0 librtmp/2.3
Release-Date: 2019-02-06
Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtmp rtsp scp sftp smb smbs smtp smtps telnet tftp
Features: AsynchDNS IDN IPv6 Largefile GSS-API Kerberos SPNEGO NTLM NTLM_WB SSL libz TLS-SRP HTTP2 UnixSockets HTTPS-proxy PSL
```
### operating system

Windows 10 1809 and for WSL
```
Linux Edoardo 4.4.0-17763-Microsoft #1432-Microsoft Mon Aug 18 18:18:00 PST 2020 x86_64 GNU/Linux
```


Are you quoting the square brackets in the address? They're special to the
Unix shell. Can you show us the exact command you're entering?


```
curl [::ffff:142.250.180.174]
```
Here I'm connecting to google.com via direct ip address.

That command doesn't show any quoting.


> That command doesn't show any quoting.

I don't exactly know what type of quoting should be used, i tried ``curl "[::ffff:142.250.180.174]"``, ``curl '[::ffff:142.250.180.174]'``, even ``curl "["::ffff:142.250.180.174"]"``. The first and the last still give back the same error ``curl: (7) Failed to connect to ::ffff:142.250.180.174 port 80 after 0 ms: Address not available`` (and still work on WSL), the 2nd returns illegal format error.

I rather suspect something in your machine prevents this from connecting. Can you add `-v` to the command line and show us the output for the failed attempt?

> I rather suspect something in your machine prevents this from connecting. Can you add `-v` to the command line and show us the output for the failed attempt?

```
D:\Utenti\Edoardo\Downloads\curl-7.65.3_1-win64-mingw\curl-7.78.0-win64-mingw\bin>curl "["::ffff:142.250.180.174"]" -v
*   Trying ::ffff:142.250.180.174:80...
* connect to ::ffff:142.250.180.174 port 80 failed: Address not available
* Failed to connect to ::ffff:142.250.180.174 port 80 after 1 ms: Address not available
* Closing connection 0
curl: (7) Failed to connect to ::ffff:142.250.180.174 port 80 after 1 ms: Address not available
```
I too kinda suspected that, and that's why I also tested on WSL as I suppose it should basically be using the same network interfaces as Windows but there it works fine.

I think that output shows that `connect()` fails when trying to connect to the given address. It also happens to be almost identical code in both native Windows as for Linux (WSL) so I cannot explain why one would work and not the other.

> 
> 
> I think that output shows that `connect()` fails when trying to connect to the given address. It also happens to be almost identical code in both native Windows as for Linux (WSL) so I cannot explain why one would work and not the other.

@b-spencer Is IPv4 embedded in IPv6 addressing guaranteed to be supported on all platforms? I am unable to get this form to work from FireFox or curl under Windows and curl in Cygwin even though I can get at the IPv4 address on my IPv6 network. Just asking - I do not use this address form.

The square brackets are special on two levels: the shell and curl itself. To
get around the first, the URL into quotes. To get around the second, use the -g
option (see https://curl.se/docs/manual.html#ipv6). Finally, what you are
giving the command is not a URL but an IPv6 literal address. curl should do the
right thing in the case and guess that you really wanted to give it an HTTP
URL, but it's best to be explicit.

So, the following command should work on Linux:

    curl "http://[::ffff:142.250.180.174]"

The quoting on Windows might be different, but that format should probably work
there, too.


Ah, I missed seeing the other replies. The IPv4-in-IPv6 addressing point is
another good one.


> The square brackets are special on two levels: the shell and curl itself. To get around the first, the URL into quotes. To get around the second, use the -g option (see https://curl.se/docs/manual.html#ipv6). Finally, what you are giving the command is not a URL but an IPv6 literal address. curl should do the right thing in the case and guess that you really wanted to give it an HTTP URL, but it's best to be explicit. So, the following command should work on Linux: curl "http://[::ffff:142.250.180.174]" The quoting on Windows might be different, but that format should probably work there, too.

Even after using -g it still doesn't work, still, the error message corectly show the address it attempted to connect to, same with the verbose output, so shouldn't the parsing of the command **not** be an issue here?

Do you really have a working IPv6 stack? what does `ping.exe -6 ::ffff:142.250.180.174` print?

> Do you really have a working IPv6 stack? what does `ping.exe -6 ::ffff:142.250.180.174` print?

I get a "failed transmission. General error"

> @b-spencer Is IPv4 embedded in IPv6 addressing guaranteed to be supported on all platforms?

@rsbeckerca I'm not sure why you asked me :) because I am certainly not an expert on the matter.  I will share what I know about it, in case it helps, though!

  IIRC addresses like `::ffff:142.250.180.174` are from [RFC 4291 Section 2.5.5.2](https://datatracker.ietf.org/doc/html/rfc4291#section-2.5.5.2) (and its ancestors) and given the name "IPv4-mapped" addresses.  These addresses are also mentioned in [RFC 2765 Section 2.1](https://datatracker.ietf.org/doc/html/rfc2765#section-2.1) (but not its descendants).  However, [RFC 5156 Section 2.2](https://datatracker.ietf.org/doc/html/rfc5156#section-2.2) deprecated them:

>    ::FFFF:0:0/96 are the IPv4-mapped addresses [RFC4291].  Addresses
>   within this block should not appear on the public Internet.

From some empirical experiments a while back, I know that Windows seems to not support this addressing mode fully, at least not in the ways I have ever tried it.  I think that [RFC 5952 Section 5](https://datatracker.ietf.org/doc/html/rfc5952#section-5) recommends that these addresses (in `::ffff:0:0/96`) be written in the IPv4 dotted-decimal form, but modern Windows configurations I have tried (which are not exhaustive by any means) doesn't _always_ textualize them that way, at least not the way I was using it.  Maybe others have different results.  Specifically, Windows will print `::ffff:0:101` as `::ffff:0:101` but will also print `::ffff:1:101` as `::ffff:0.1.1.1`.   You can try it with ping:

```
> ping -6 ::ffff:0:101
Pinging ::ffff:0:101 with 32 bytes of data:

> > ping -6 ::ffff:1:101
Pinging ::ffff:0.1.1.1 with 32 bytes of data:
```

Given that these address forms were deprecated in 2008, and this address printing behaviour might be an indication that Windows doesn't support this apparently deprecated way of mapping IPv4-to-IPv6.  Or, it might mean I don't know enough about this to understand what's going on. :)

So to directly answer the question, no, I do not know what OSes or networks guarantee support for RFC 4291 Section 2.5.5.2 addressing.


Thanks. I think the point is that even with proper quoting, this address form may not work because of the underlying stack. A full non-embedded quoted IPv6 address does work correctly in curl, but that is not the edge condition that seems unsupported here. There may be no way to make this work if the stack does not support it.

Unless there are any objections I think we can close this as not-a-bug.