Websocket pain

### I did this

I am trying to implement a websocket abstraction in C++ with CURL. The goal is to manage a lot of connection (>100), therefore i am using a multi-handle to manage many easy-handles. On my journey I found the following problems which are a mix of bugs / inconvenient behavior / missing features.

1) Because i am using Multi-Handles, i am unable to implement an easy `onOpen`-event. I am going for [Model 1](https://curl.se/libcurl/c/libcurl-ws.html)  using a `WRITEFUNCTION` to keep things asynchronous. Model 1 does not describe how I send data, therefore i am defaulting to `curl_ws_send`. I also cannot use `CURLOPT_CONNECT_ONLY` as this would be "Model 2". When connecting, I send my own header to let it connect and switch protocols; then parse the incoming protocol-switch response myself (using the `HEADERFUNCTION`). When receiving the empty-line (end of header), i can generate an `onOpen()` event myself. However, since my call-context is in the `HEADERFUNCTION`, i cant directly invoke the `onOpen` event handler from there, because `onOpen` could want to send data. For some reason `curl_ws_send()` does not work from within the `HEADERFUNCTION`. According to the [documentation of curl_ws_send](https://curl.se/libcurl/c/curl_ws_send.html) it should be possible to use `curl_ws_send` from within a callback. The error code is however consistently `CURLE_SEND_ERROR`.

2) This leads to the next issue: there is no method to send a message to the main-loop / `curl_multi_info_read()` in order to trigger operations associated with a certain easy-handle _cant_ be directly executed from within a callback. This leads to state-management outside of the curl control flow which is always messy.  It would be nice to be able to trigger a special message that is not `CURLMSG_DONE`. (with custom data in the `message.data.whatever` field)

3) Within the `WRITEFUNCTION`, `curl_ws_meta()` never sets `CURLWS_CONT` for partial messages. When I receive a large response (>100kb) the `WRITEFUNCTION` trickles in the data in ~4kb chunks. According to the [documentation of curl_ws_meta](https://curl.se/libcurl/c/curl_ws_meta.html) `CURLWS_CONT` should be set for all but the last data chunk. 

4) _I am not sure about this one - it may be a CURL-problem or a me-problem, due to lack of references._ But while my websocket implementation generally works, it fails to connect to a certain host which always responds with `502 (Bad Gateway)` instead of `101 (Protocol switch)`. This particular host is only reachable if I connect via `https://....` instead of `wss://....`. When using https, the protocol switch is accepted successfully by the host. However under this circumstance, `curl_ws_send` fails consistently with `CURLE_SEND_ERROR`. I think this may be caused by a violation of [Setup](https://curl.se/libcurl/c/libcurl-ws.html) where the websocket-part of CURL is not activated because I cant use the `wss://`-prefix (??)
**IF** that is the case, I find that design decision highly disturbing, because I can, at any point, assemble my own header that asks for a protocol switch - I therefore need an option for the easy-handle to turn on websocket features at will, independently of the URL I connect to. This is a decision between me and the server, not CURLs background state management. I hope that makes sense.
Again, this could be my fault, so it would be nice if someone (who knows the internals) could confirm this behavior.

### I expected the following

_No response_

### curl/libcurl version

curl 8.13.0

### operating system

Linux 6.14.6-2-MANJARO

I managed to solve (4). It turns out, that CURL sends the Upgrade header itself. Me adding an upgrade-header to the easy-handle was wrong. So this is totally on me. I dont think that was an issue with the documentation, it was really just an idiot-me.

The still standing issues are
1) _Feature_: lack of `onOpen` call-back when using `WRITEFUNCTION`, 
_Not as documented / bug_: `curl_ws_send()` not working from callback (`HEADERFUNCTION`) 
2) _Feature_: no easy way to delay calling `curl_ws_send()` if the context (like `HEADERFUNCTION`) forbids usage, because there is no function to send a message to `curl_multi_info_read()` for clean state management 
3) _Bug_: `curl_ws_meta()` during `WRITEFUNCTION` never sets `CURLWS_CONT` 

Number (3) is a misunderstanding. The `CURLWS_CONT` flag relates to WebSocket Fragments as described by [RFC 6455 §5.4](https://datatracker.ietf.org/doc/html/rfc6455#section-5.4). This is orthogonal to the chunking of payloads by libcurl. (see [here](https://github.com/curl/curl/pull/16687))

For your use case you need to use the `bytesleft` field in the struct returned by `curl_ws_meta()`:
```
const struct curl_ws_frame *meta = curl_ws_meta(curl);
if(meta->bytesleft == 0) {
  // fully received
} else {
  // more chunks pending
}
```

@DerAlbiG I try to summarize how I read your points 1 and 2:

* The "Model 1" describes a pure "download" use of websocket and has no guidance on how to handle "uploads" of data. This is lacking. It is not clear if (and if so, how) a `READFUNCTION` can be used here.
* If a `READFUNCTION` could be used, it is unclear how that would work and when it would be called.
* If a `READFUNCTION` could be used, it needs to allow for `curl_easy_pause()` and `CURL_READFUNC_PAUSE` to work. But this has not been tested.

@icing Thanks for your reply. Independent of a read-function, using `curl_ws_send` is either broken (does not behave as documented) as it cannot, in fact, be reliably called from a callback-function.
[Documentation](https://curl.se/libcurl/c/curl_ws_send.html) currently states

> Warning: while it is possible to invoke this function from a callback,
> such a call is blocking in this situation, e.g. only returns after all
> data has been sent or an error is encountered. 

Which is false for the context of the `HEADERFUNCTION`. From this problem, (2) arises, as there is no workflow to defer an operation to the main loop. 
There is no easy solutions here: Fixing the documentation would still leave the broken work-flow. The other option is to introduce an onConnect callback to the websocket from within one can actually send data.

(4) was my mistake, as i thought i needed to send the headers myself, when using a `WRITEFUNCTION`. That was clearly false.

@DerAlbiG at the moment, was are merely brainstorming how we can make life better for you (and people in a similar situation). If we follow the route of https://github.com/curl/curl/pull/17683, we will document this of course.

It would help to know if this can address your problem. If we go ahead and you later find out that it's just not good enough...meh.

I believe #17683 is now quite complete in addressing this issue. It adds a new function `curl_ws_start_frame()` to the API. This means it can be available earliest in curl 8.16.0 as the feature window for the next release is closed.

What this PR does is:
* an application can set `CURLOPT_UPLOAD` and register a `CURLOPT_READFUNCTION` that gets called right away when the websocket connection is "open".
* without doing anything special, all data returned by `CURLOPT_READFUNCTION` is sent as BINARY websocket frames. If a call to read returns 99 bytes, a websocket binary frame of 99 bytes is sent. When it return `0`, the upload has ended, but the download will continue.
* the `CURLOPT_READFUNCTION` can invoke `curl_ws_start_frame()` to specify the frame type (flags) and the length of the frame to send. It is then responsible for delivering all those bytes, of course, before a new frame can be started.
* the `CURLOPT_READFUNCTION` can return `CURL_READFUNC_PAUSE` which will halt the upload. The application must then invoke `curl_easy_pause()` on the transfer and the read callback is called again. This probably works best when the transfer is done via `curl_multi_perform()`.

As a side effect of all this, you can run a single websocket transfer via the command line via:

```sh
> curl --no-progress-meter  -T . wss://echo.websocket.org
```

which sends data from `stdin` as binary frames and sends the decoded ws frame contents to `stdout`.