IMAP doesn't do LOGIN as needed

### I did this

We tried to login on IMAP server for Outlook 365.

### I expected the following

Usually for IMAP it works, but this server doesn't show AUTH=LOGIN, but that is needed to login.

### curl/libcurl version

CURL 7.83.1 with openssl

### operating system

macOS 10.12.

So this is our CURL log:

```
  Trying 52.98.175.2:993...
Connected to outlook.office365.com (52.98.175.2) port 993 (#0)
TLSv1.3 (OUT), TLS handshake, Client hello (1):
TLSv1.3 (IN), TLS handshake, Server hello (2):
TLSv1.2 (IN), TLS handshake, Certificate (11):
TLSv1.2 (IN), TLS handshake, Server key exchange (12):
TLSv1.2 (IN), TLS handshake, Server finished (14):
TLSv1.2 (OUT), TLS handshake, Client key exchange (16):
TLSv1.2 (OUT), TLS change cipher, Change cipher spec (1):
TLSv1.2 (OUT), TLS handshake, Finished (20):
TLSv1.2 (IN), TLS handshake, Finished (20):
SSL connection using TLSv1.2 / ECDHE-RSA-AES256-GCM-SHA384
Server certificate:
 subject: C=US; ST=Washington; L=Redmond; O=Microsoft Corporation; CN=outlook.com
 start date: Oct 24 00:00:00 2021 GMT
 expire date: Oct 23 23:59:59 2022 GMT
 issuer: C=US; O=DigiCert Inc; CN=DigiCert Cloud Services CA-1
 SSL certificate verify result: unable to get local issuer certificate (20), continuing anyway.
* OK The Microsoft Exchange IMAP4 service is ready. [...]
A001 CAPABILITY
* CAPABILITY IMAP4 IMAP4rev1 AUTH=PLAIN AUTH=XOAUTH2 SASL-IR UIDPLUS ID UNSELECT CHILDREN IDLE NAMESPACE LITERAL+
A001 OK CAPABILITY completed.
No known authentication mechanisms supported
Closing connection 0
TLSv1.2 (OUT), TLS alert, close notify (256):
```

As you see server can do AUTH=PLAIN AUTH=XOAUTH2.
Now we do the same in Apple Mail:

```
INITIATING CONNECTION Jun 08 14:34:04.800 host:outlook.office365.com -- port:143 -- socket:0x0 -- thread:0x60000249d100

CONNECTED Jun 08 14:34:04.860 [kCFStreamSocketSecurityLevelNone] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100

READ Jun 08 14:34:04.893 [kCFStreamSocketSecurityLevelNone] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
* OK The Microsoft Exchange IMAP4 service is ready. [QQBTADgAUABSADAANABDAEEAMAAxADEAOQAuAGUAdQByAHAAcgBkADAANAAuAHAAcgBvAGQALgBvAHUAdABsAG8AbwBrAC4AYwBvAG0A]

WROTE Jun 08 14:34:04.893 [kCFStreamSocketSecurityLevelNone] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
1.31877 CAPABILITY

READ Jun 08 14:34:04.952 [kCFStreamSocketSecurityLevelNone] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
* CAPABILITY IMAP4 IMAP4rev1 LOGINDISABLED STARTTLS SASL-IR UIDPLUS MOVE ID UNSELECT CHILDREN IDLE NAMESPACE LITERAL+
1.31877 OK CAPABILITY completed.

WROTE Jun 08 14:34:04.952 [kCFStreamSocketSecurityLevelNone] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
2.31877 STARTTLS

READ Jun 08 14:34:05.003 [kCFStreamSocketSecurityLevelNone] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
2.31877 OK Begin TLS negotiation now.

WROTE Jun 08 14:34:05.116 [kCFStreamSocketSecurityLevelTLSv1_2] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
3.31877 CAPABILITY

READ Jun 08 14:34:05.142 [kCFStreamSocketSecurityLevelTLSv1_2] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
* CAPABILITY IMAP4 IMAP4rev1 AUTH=PLAIN AUTH=XOAUTH2 SASL-IR UIDPLUS MOVE ID UNSELECT CHILDREN IDLE NAMESPACE LITERAL+
3.31877 OK CAPABILITY completed.

WROTE Jun 08 14:34:05.142 [kCFStreamSocketSecurityLevelTLSv1_2] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
4.31877 ID ("name" "Mac OS X Mail" "version" "16.0 (3696.100.31)" "os" "Mac OS X" "os-version" "12.4 (21F79)" "vendor" "Apple Inc.")

READ Jun 08 14:34:05.166 [kCFStreamSocketSecurityLevelTLSv1_2] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
* ID ("name" "Microsoft.Exchange.Imap4.Imap4Server" "version" "15.20")
4.31877 OK ID completed

WROTE Jun 08 14:34:05.167 [kCFStreamSocketSecurityLevelTLSv1_2] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
5.31877 AUTHENTICATE PLAIN  (*** 112 bytes hidden ***)

READ Jun 08 14:34:05.186 [kCFStreamSocketSecurityLevelTLSv1_2] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
5.31877 NO AUTHENTICATE failed.

WROTE Jun 08 14:34:05.187 [kCFStreamSocketSecurityLevelTLSv1_2] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
6.31877 AUTHENTICATE PLAIN  (*** 76 bytes hidden ***)

READ Jun 08 14:34:05.207 [kCFStreamSocketSecurityLevelTLSv1_2] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
6.31877 NO AUTHENTICATE failed.

WROTE Jun 08 14:34:05.208 [kCFStreamSocketSecurityLevelTLSv1_2] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
9.31877 LOGIN "**hidden***" ************************

READ Jun 08 14:34:05.712 [kCFStreamSocketSecurityLevelTLSv1_2] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
9.31877 OK LOGIN completed.

WROTE Jun 08 14:34:05.713 [kCFStreamSocketSecurityLevelTLSv1_2] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
10.31877 CAPABILITY

READ Jun 08 14:34:05.748 [kCFStreamSocketSecurityLevelTLSv1_2] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
* CAPABILITY IMAP4 IMAP4rev1 AUTH=PLAIN AUTH=XOAUTH2 SASL-IR UIDPLUS MOVE ID UNSELECT CLIENTACCESSRULES CLIENTNETWORKPRESENCELOCATION BACKENDAUTHENTICATE CHILDREN IDLE NAMESPACE LITERAL+
10.31877 OK CAPABILITY completed.

WROTE Jun 08 14:34:05.748 [kCFStreamSocketSecurityLevelTLSv1_2] -- host:outlook.office365.com -- port:143 -- socket:0x60000542cde0 -- thread:0x60000249d100
11.31877 LOGOUT
```

As you see Apple mail tries a LOGIN command even as the server doesn't list it. And like Apple Mail all our tries with AUTH PLAIN failed. So you must use AUTH Login.

How can I get CURL to use AUTH Login?

If we set option LoginOptions to "AUTH=LOGIN", we get above message about no known mechanism.

Having pulled the latesr code, refamiliarised myself with the curl code and original RFCs that we based this code on, and read some of the updates in the replacement RFC I am wondering what options you passed to curl? Did you specify an AUTH= in the login options for example?

without Login options set, CURL will do PLAIN auth and that always fails with the given login.
Apple Mail also fails with PLAIN auth, but falls back to LOGIN and that works.
When I pass AUTH=LOGIN, curl will do no login since LOGIN is not part of the capabilities reported from IMAP server.

AUTH=LOGIN requests the SASL authentication mechanism LOGIN, which as you identified is not advertised or supported by the server, and is different to the LOGIN command.

The difference between curl and Apple mail is Apple mail is failing back to the LOGIN command when the SASL mechanisms fail via the AUTHENTICATE command.

RFC-9051 includes the following statement for the LOGIN command which I don't believe was present in RFC-3501 or RFC-2060:

> The LOGIN command SHOULD NOT be used except as a last resort (after attempting and failing to authenticate using the AUTHENTICATE command one or more times), and it is recommended that client implementations have a means to disable any automatic use of the LOGIN command.

I don't think curl has been updated for this - potentially we could modify as follows:

```
diff --git a/lib/imap.c b/lib/imap.c
index 817513bec..61afb44da 100644
--- a/lib/imap.c
+++ b/lib/imap.c
@@ -21,7 +21,7 @@
  * RFC2195 CRAM-MD5 authentication
  * RFC2595 Using TLS with IMAP, POP3 and ACAP
  * RFC2831 DIGEST-MD5 authentication
- * RFC3501 IMAPv4 protocol
+ * RFC3501 Internet Message Access Protocol - Version 4rev1
  * RFC4422 Simple Authentication and Security Layer (SASL)
  * RFC4616 PLAIN authentication
  * RFC4752 The Kerberos V5 ("GSSAPI") SASL Mechanism
@@ -29,6 +29,7 @@
  * RFC5092 IMAP URL Scheme
  * RFC6749 OAuth 2.0 Authorization Framework
  * RFC8314 Use of TLS for Email Submission and Access
+ * RFC9051 IMAPv4rev2 protocol
  * Draft   LOGIN SASL Mechanism <draft-murchison-sasl-login-00.txt>
  *
  ***************************************************************************/
@@ -1025,6 +1026,9 @@ static CURLcode imap_state_auth_resp(struct Curl_easy *data,
     default:
       break;
     }
+  else if((!imapc->login_disabled) && (imapc->preftype & IMAP_TYPE_CLEARTEXT))
+    /* Perform clear text authentication on failure as per RFC-9051 */
+    result = imap_perform_login(data, conn);
```

This would implement automatic support for LOGIN on failure but it doesn't provide a recommended way of disabling it - does Apple mail allow you to disable the IMAP LOGIN command? AUTH=<mechanism> should override it but I'm not sure if that is enough to fulfil the RFC's recommendation.

@bagder - do you have any views on the recommendation from RFC-9051?


I see @monnerat has performed some work to implement CURLOPT_SAFE_AUTH - that would satisfy the recommendation from RFC-9051.

Hello!

You seem to actually have close to the same issue I have: https://github.com/curl/curl/issues/8984

I am trying to log into an IMAP server that only works with `AUTH=PLAIN`, but since the server doesn't advertise `AUTH=PLAIN`, I get the `No known authentication mechanisms supported`. 

> ... some work to implement CURLOPT_SAFE_AUTH - that would satisfy the recommendation from RFC-9051.

The goal of` CURLOPT_SAFE_AUTH` [PR](https://github.com/curl/curl/pull/8295) won't add a fallback mechanism. This is just a security feature to lock out mechanisms that would reveal a cleartext password in transmited data.
That said, the PR awaits your vote if you like it!

Curl never falls backs to an alternate mechanism upon a failing completed authentication dialog. This is intentional since multiple failing authentications may lock the account.

Regarding the original problem: obviously you are speaking about the IMAP built-in `LOGIN` command, not the `SASL LOGIN` mechanism. Currently, the former is only used when no usable SASL mechanism is available: this is not the case in your example. We should probably introduce some mean to disable SASL mechanisms only.

Many thanks for your response.

> The goal of` CURLOPT_SAFE_AUTH` [PR](https://github.com/curl/curl/pull/8295) won't add a fallback mechanism.

No, no I wasn't expecting that - The above code adds the fallback mechanism and @kop316 has verified it works over in issue #8984.

> This is just a security feature to lock out mechanisms that would reveal a cleartext password in transmited data. That said, the PR awaits your vote if you like it!

I liked the concept of it as it would support the recommendation regarding clear text fallback that I quoted from RFC-9051 above ;-)

> Curl never falls backs to an alternate mechanism upon a failing completed authentication dialog. This is intentional since multiple failing authentications may lock the account.
>
> Regarding the original problem: obviously you are speaking about the IMAP built-in `LOGIN` command, not the `SASL LOGIN` mechanism. Currently, the former is only used when no usable SASL mechanism is available: this is not the case in your example. We should probably introduce some mean to disable SASL mechanisms only.

RFC-9051 now explicitly mentions the fallback to clear text via the LOGIN command when the AUTHENTICATE command fails. AFAIK it wasn't mentioned in previous RFCs but I think some clients were doing it anyway. As I mentioned above IMAP is a bit of an oddity, IMHO, in that it supports two authentication commands.

Among protocols that do support SASL, POP3 also has AUTH(SASL), USER and APOP while LDAP has simple BIND.
I think some auth bits in the current `sasl->prefmech` should be reserved for protocol-specific mechanisms (even if the latter are not SASL) and get rid of `preftype`. This would greatly simplify all this stuff. As the only url option recognized is `AUTH=` whatever is the protocol, a common parsing function could even be implemented using the SASL mech table + a protocol-specific auth mech table passed in argument, possibly extending the syntax like `LOGIN|PLAIN` or `!DIGEST-MD5`. These may be implementation details but they may benefit the readability and maintainability of the code.

IMHO, we should not extend the fallback strategy inside SASL and only implement it from a single SASL failure to a protocol specific mechanism.

See if this works now with this commit: https://github.com/curl/curl/commit/64aefea3d9aca43ea84a7ad8a606f4ee49cb1eab

No response.