curl timeouts fetching icons from tvheadend server

### I did this

I'm experiencing an issue with kodi (using curl) having random problems to fetch channel icons from tvheadend (http) server. Apparently the problem only happens when using recent curl versions with kodi. Tvheadend supports keep-alive and curl tries to reuse the connections, but randomly it gets no further reply and timeouts, with new curl versions.

From my tests the problem was NOT present on old curl versions like 7.37.1 and 7.42.1.

I could reproduce the problem on curl versions 7.47.1, 7.48.0, 7.49.1 and 7.50.1.

I can reproduce same problem on OpenELEC/LibreELEC distro as well as on kodi for Windows.

You can find more details (including full kodi logs with debug curl logs) at this topic:
https://forum.libreelec.tv/thread-1253-page-2.html
(relevant information is on posts no. 1, 7, 18 and 22)
At least one other user confirms the issue on LibreELEC forum.

I'm not fully sure if this is a curl bug, tvheadend server may be the culprit (maybe the fact that it returns contents for HEAD requests is related??), however it worked OK with older curl versions, that's why I decided to submit this, hope someone with more knowledge can have an idea about the problem.

Btw, hope I'm reporting this properly... sorry if not... I'm not very familiarized doing this... :)

It would be helpful if you could specify what exactly you do when you get the timeout. "randomly it gets no further reply and timeouts" you say, but random when you've done what? And with which frequency? Does the problem only occur with this single site? Ideally you'd show us a stand-alone example that we can reproduce the case with.

A HTTP `HEAD` response **cannot** legally return a response body so if that is involved, it may at least partially explain oddities. Although I of course think that libcurl should do its best to work around such flaws.

I try to explain it that you in the end might know what we try ;)
We have an Tvheadend Server (its an dvb server for tv channels) which provides icons (channel logo).
Then Kodi tries to load this icon `ERROR: CCurlFile::Stat - Failed: Timeout was reac
or: CCurlFile::Stat - Failed: Timeout was reached(28) for http://127.0.0.1:9981/imagecache/703`, [sometimes it work sometimes not](http://pastebin.com/tu0m1hme)
It works with the same server flawless if you choose an client with curl 7.42.1 for example. If you want to reproduce such an error you need obviously Tvheadend (git master + no need for dvb hardware). It is rather time consuming if you want to do it. If we can help in some way pls tell us.

Which libcurl API are you using? What easy options do you set? 

That debug paste is hard to read. It seems it sometimes times out in a HEAD response and sometimes in GET  responses, is that correct?

Can you explain the following:

On line 243 it says
~~~
 DEBUG: Curl::Debug - TEXT: Operation timed out after 10004 milliseconds with 35074 bytes received
~~~

but on 239 the content is said to be much smaller:
~~~
DEBUG: Curl::Debug - HEADER_IN: Content-Length: 7655
~~~

How come it says it received 35K when Content-Length said 7.6K ?

> If you want to reproduce such an error you need obviously Tvheadend

If this is a bug in libcurl, then surely a stand-alone example *could* be made without me needing Tvheadend. You can't expect me/us to debug your application.

I can't give you answers to your questions because I don't understand it either. 
We saw this behaviour and we are not aware of which point we should start to dig.
Now i would rather tend to say Tvheadend is doing something awkward and curl >7.42 can't handle it (not saying that it is curls fault).

>You can't expect me/us to debug your application.

yes nobody expect that from you :+1: , if I had an good idea how hand out an stand-alone example I would do it ;)
I contacted the Tvheadend dev maybe he has an idea what could be the problem.

Many thanks bagder for trying to help us and sorry if I didn't provide enough information, as CvH said it's hard for us to provide much info as we don't know exactly what to look, and yes I fully understand that it is hard for you also, my idea was maybe with the debug logs and the infos we may provide maybe we can reach something,.. if you give us an help on what to look/test...

Concerning your question about my debug log, I did check and I can tell you that the "Content-Length: 7655" that you see is correct, it is the correct size of my /imagecache/664 file, then that is not a problem. However if I can understand the log correctly that request succeeds with no problem at all and is not related with the timeout that you also quoted. The /imagecache/664 request was made on connection no. 0 while the timeout that you quote is happening on connection no. 3, see:

```
01:07:44 T:139724077397760   DEBUG: Curl::Debug - TEXT: Operation timed out after 10004 milliseconds with 35074 bytes received
01:07:44 T:139724077397760   DEBUG: Curl::Debug - TEXT: Closing connection 3
01:07:44 T:139724077397760   ERROR: CCurlFile::Stat - Failed: Timeout was reached(28) for http://127.0.0.1:9981/imagecache/662
01:07:44 T:139724077397760   DEBUG: CCurlFile::GetMimeType - http://127.0.0.1:9981/imagecache/662 -> failed
```

and if you check a bit up this was the request made 10sec. before on that connection no. 3:

```
01:07:34 T:139724077397760   DEBUG: Curl::Debug - TEXT: Connected to 127.0.0.1 (127.0.0.1) port 9981 (#3)
01:07:34 T:139724077397760   DEBUG: Curl::Debug - HEADER_OUT: HEAD /imagecache/662 HTTP/1.1
01:07:34 T:139724077397760   DEBUG: Curl::Debug - HEADER_OUT: Host: 127.0.0.1:9981
01:07:34 T:139724077397760   DEBUG: Curl::Debug - HEADER_OUT: User-Agent: Kodi/16.1 (X11; Linux x86_64) LibreELEC/7.0 App_Bitness/64 Version/16.1-Git:c327c53
01:07:34 T:139724077397760   DEBUG: Curl::Debug - HEADER_OUT: Accept: */*
01:07:34 T:139724077397760   DEBUG: Curl::Debug - HEADER_OUT: Accept-Charset: UTF-8,*;q=0.8
........
01:07:34 T:139724052219648   DEBUG: Curl::Debug - TEXT: Connection #3 to host 127.0.0.1 left intact
01:07:34 T:139724052219648   DEBUG: Curl::Debug - TEXT: Found bundle for host 127.0.0.1: 0x7f13f8000ba0 [can pipeline]
01:07:34 T:139724052219648   DEBUG: Curl::Debug - TEXT: Connection 3 seems to be dead!
01:07:34 T:139724052219648   DEBUG: Curl::Debug - TEXT: Closing connection 3
```

Btw, I can't understand the last part... it knows that the connection 3 is dead (apparently immediately after sending out the request, all at 01:07:34...) but it will only timeout 10sec. later?

And it's an HEAD... and yes Tvheadend wrongly returns contents for HEAD requests like if it was a GET... I fully understand that this is not correct and it should be (easily I guess) corrected on Tvheadend server, but anyway maybe old curl versions handled this and new versions don't...


Also I can tell you that with older curl versions (the ones that I said don't show the problem) I can see something like this on the log for HEAD requests:
```
00:12:44 T:3504   DEBUG: Curl::Debug - TEXT: Connected to 192.168.1.86 (192.168.1.86) port 9981 (#3)
00:12:44 T:2376   DEBUG: Curl::Debug - HEADER_OUT: HEAD /imagecache/1133 HTTP/1.1
00:12:44 T:2376   DEBUG: Curl::Debug - HEADER_OUT: Host: 192.168.1.86:9981
00:12:44 T:3504   DEBUG: Curl::Debug - HEADER_OUT: HEAD /imagecache/1231 HTTP/1.1
00:12:44 T:3504   DEBUG: Curl::Debug - HEADER_OUT: Host: 192.168.1.86:9981
00:12:44 T:3504   DEBUG: Curl::Debug - HEADER_OUT: User-Agent: Kodi/16.0 (Windows NT 10.0; WOW64) App_Bitness/32 Version/16.0-Git:20160220-a5f3a99
00:12:44 T:3504   DEBUG: Curl::Debug - HEADER_OUT: Accept: */*
00:12:44 T:3504   DEBUG: Curl::Debug - HEADER_OUT: Accept-Charset: UTF-8,*;q=0.8
00:12:44 T:3504   DEBUG: Curl::Debug - HEADER_IN: HTTP/1.1 200 OK
00:12:44 T:3504   DEBUG: Curl::Debug - HEADER_IN: Server: HTS/tvheadend
00:12:44 T:3504   DEBUG: Curl::Debug - HEADER_IN: Last-Modified: Sat, 20 Aug 2016 23:12:40 GMT
00:12:44 T:3504   DEBUG: Curl::Debug - HEADER_IN: Expires: Sat, 20 Aug 2016 23:12:50 GMT
00:12:44 T:3504   DEBUG: Curl::Debug - HEADER_IN: Cache-Control: max-age=10
00:12:44 T:3504   DEBUG: Curl::Debug - HEADER_IN: Connection: Keep-Alive
00:12:44 T:3504   DEBUG: Curl::Debug - HEADER_IN: Content-Length: 17436
00:12:44 T:3504   DEBUG: Curl::Debug - TEXT: Excess found in a non pipelined read: excess = 16182 url = /imagecache/1231 (zero-length body)
00:12:44 T:3504   DEBUG: Curl::Debug - TEXT: Connection #3 to host 192.168.1.86 left intact
```
Notice the "Excess found ..." line... I guess due to Tvheadend returning contents for HEAD... why this is not shown for new curl versions? is it intended it doesn't show the message anymore or something wrong not triggering the code that should handle this non expected data?

JFYI, I did tried and I'm apparently being able to reproduce similar issue using command line curl tool fetching from Tvheadend http server.

If try this command:
curl -o /dev/null -v -m 10 http://127.0.0.1:9981/imagecache/[1-100]
it fetches all files without any issues, also I noticed that it uses just one single connection for all requests (i.e. always reusing connection no. 0), no timeouts, all perfect.

However if I add -I param (so that curl makes HEAD requests instead of GET ones) then I can see similar dead connections and random timeouts exactly like shown on kodi log. Also I can see connection number increasing, as it reopens new connections when existing ones die...

[curl-tvh-get-log.txt](https://github.com/curl/curl/files/444082/curl-tvh-get-log.txt)
[curl-tvh-head-log.txt](https://github.com/curl/curl/files/444083/curl-tvh-head-log.txt)


So we keep coming back to the problem being reproducible only when HEAD requests get response bodies back. Can you see this problem at all when not using HEAD requests?

As this is a violation of the HTTP protocol, I don't consider it a critical problem on our part. I agree we could attempt harder to see if we actually get more data after the CRLF terminating the headers in a HEAD response (and then mark the connection for closure). Apparently we did this better in the past but other developments have made it not work or at least not as effective as in the past.

Every HEAD response with a response body MUST be forced-closed at some "random" point since the client can't know when it ends it should probably get closed immediately once a response body has been detected (and that's not even reliable) and cannot be reused so it'll be a performance penalty even for the cases this approach work.

I think you should strongly urge the maker of this server to fix their end ASAP. Feel free to point them to this issue. You can also refer them to [RFC 7231 section 4.3.2](https://tools.ietf.org/html/rfc7231#section-4.3.2) for the exact text from the protocol spec:

> the server MUST NOT send a message body in the response (i.e., the response terminates at  the end of the header section).

For the short term, before you have a libcurl fix and/or a server fix, I would suggest that you consider a work-around that doesn't use HEAD at all. Your payloads seems small enough that perhaps you can handle getting them and in the worst case ditch them if you don't need them? I admit this is going out on a limb and I'm making guesses that might be wrong.

Not that I disagree with Daniel's reply but if you have the time maybe you can do a bisect and tell us what caused the change in behavior, just so we know. I added instructions to the wiki just now, they might be a little rough https://github.com/curl/curl/wiki/bisect

Yes, I fully understand your point, after all it's a non standard thing that should not happen at all then surely not of huge importance for you to support handling it...

Also in the mean time a Tvheadend developer did fixed it at their side today on git, now Tvheadend doesn't return contents for HEAD requests anymore and I can confirm that now it works as expected, even with latest curl versions, reusing always the same connection for all HEAD requests and no timeouts or any other issues, then we confirm that this was really the cause of the problems.

At this point not sure if worth the effort to bisect / investigate the issue, unless someone else having similar problem that can't be fixed at server side for some reason... anyway many thanks for your attention and sorry for the time taken on this :+1: 

Thanks for the quick feedback and I'm glad to hear the server team fixed the HEAD issues. I certainly understand if you don't feel like pursuing this issue any further now that it works. I'm sure that if anyone really *wants* to test drive and improve libcurl's ability to handle HEAD with response bodies, it wouldn't be that hard to just have our test server respond like that.

With  that, this case is considered closed. Thanks for flying curl! =)