server response with no Content-Length: but with "Connection:close" and disconnect, curl client gets an SSL_read error.

If an HTTP server response doesn't have "Content-Length:" header but instead contains a "Connection:close" and closes the connection to indicate a finished response (valid under RFC), we get a SSL_read error like the below:

curl: (56) OpenSSL SSL_read: error:02004000:system library:socket:system library, errno 0

====== REQUEST ======
DEBUG   2.5937 record[1], index[0], request headers :
~~~
GET / HTTP/1.1
Host: SomeBox-l:6565
Accept: */*
Pragma: no-cache
Accept-Charset: utf-8
~~~
====== RESPONSE ======

DEBUG   2.6438 record[1], index[0], SSL read        : 5 bytes
DEBUG   2.6937 record[1], index[0], SSL read        : 1 bytes
DEBUG   2.7437 record[1], index[0], status info     : TLSv1.3 (IN), TLS handshake, Newsession Ticket (4):
DEBUG   2.7939 record[1], index[0], SSL read        : 217 bytes
DEBUG   2.8357 record[1], index[0], SSL read        : 5 bytes
DEBUG   2.8875 record[1], index[0], SSL read        : 1 bytes
DEBUG   2.9357 record[1], index[0], status info     : TLSv1.3 (IN), TLS handshake, Newsession Ticket (4):
DEBUG   2.9855 record[1], index[0], SSL read        : 217 bytes
DEBUG   3.0357 record[1], index[0], status info     : old SSL session ID is stale, removing
DEBUG   3.2386 record[1], index[0], SSL read        : 5 bytes
DEBUG   3.2948 record[1], index[0], SSL read        : 1 bytes
DEBUG   3.3359 record[1], index[0], response headers: HTTP/1.1 200 OK
DEBUG   3.3858 record[1], index[0], response headers: Connection:close
DEBUG   3.4358 record[1], index[0], response headers: 
DEBUG   3.4856 record[1], index[0], response body   : We had some discussions since our call this morning. Someone said that traffic may travel through bla bla bla. More Bla bla bla

DEBUG   5.3111 record[1], index[0], status info     : OpenSSL SSL_read: error:02004000:system library:socket:system library, errno 0
DEBUG   5.3528 record[1], index[0], status info     : Closing connection 0
DEBUG   5.4028 record[1], index[0], SSL write       : 5 bytes
DEBUG   5.4529 record[1], index[0], SSL write       : 1 bytes
DEBUG   5.5029 record[1], index[0], status info     : TLSv1.3 (OUT), TLS alert, close notify (256):
DEBUG   5.5532 record[1], index[0], SSL write       : 2 bytes

This behavior changed between 7.51 and 7.63.  Prior to 7.63 there was no error in this case

The problem still exists in 7.74.

Thanks for your report!

Can you tell us more about the curl/libcurl version you used when you ran into this issue? A `curl -V` output is perfect as it also tells us about your TLS library (version) and more.

curl 7.63.0 (x86_64-pc-linux-gnu) libcurl/7.63.0 OpenSSL/1.1.1a zlib/1.2.3
Release-Date: 2018-12-12
Protocols: http https smtp smtps
Features: AsynchDNS IPv6 Largefile GSS-API Kerberos SPNEGO NTLM NTLM_WB SSL libz TLS-SRP UnixSockets HTTPS-proxy

Thank you for looking at it.  
This is also seen on Windows, Solaris and AIX - same build settings.

Using OpenSSL 1.1.1a 

I cannot reproduce with curl 7.75.0-DEV (current git) and curl 7.74.0. What do you use to close the connection like that?

I run stunnel in front of nc and I just make nc respond with "HTTP/1.1 200 OK" and no headers at all, but curl -v says this:
~~~
*  SSL certificate verify result: self signed certificate (18), continuing anyway.
> GET /hello HTTP/1.1
> Host: localhost:8843
> User-Agent: curl/7.74.0
> Accept: */*
> 
* TLSv1.3 (IN), TLS handshake, Newsession Ticket (4):
* TLSv1.3 (IN), TLS handshake, Newsession Ticket (4):
* old SSL session ID is stale, removing
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
* no chunk, no close, no size. Assume close to signal end
< 
* TLSv1.3 (IN), TLS alert, close notify (256):
* Closing connection 0
* TLSv1.3 (OUT), TLS alert, close notify (256):


Thank you for your attention. 
We interact with customer systems that behave as described.  We are forced to accept / adapt to their behaviors.

Here is some generic python3 that shows the problem.

#badserver.py
import socket
import ssl

HOST = "127.0.0.1"
PORT = 8080

server = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
server.setsockopt(socket.SOL_SOCKET, socket.SO_REUSEADDR, 1)

server = ssl.wrap_socket(
    server, server_side=True, keyfile="./self-cert-and-key_clr.pem", certfile="./self-cert-and-key_clr.pem"
)

if __name__ == "__main__":
    server.bind((HOST, PORT))
    server.listen(0)
    try:
        while True:
            connection, client_address = server.accept()
            data = connection.recv(1024)
            if not data:
                break
            print(f"Received: {data.decode('utf-8')}")
            connection.write(bytes("HTTP/1.1 200 OK\r\n", "utf-8"))
            connection.write(bytes("Connection:close\r\nBODY BODY1 Keep sending data in the same chunk.", "utf-8"))
            connection.write(bytes("BODY BODY3\r\n", "utf-8"))
            connection.close()
            print("Close.")
                
    except KeyboardInterrupt:
        pass

    server.stop()
    print("Server stopped.")
    
    
# make a self signed Key and Cert.
# Call the above with python3 badserver.py
# curl -insecure -v -I https://localhost:8080/ --cacert ./self-cert-and-key_clr.pem


Sorry about the shouting at the end.  Was supposed to be a hash in front of text as it appears in the python file.

I tried to fix it with this:

lib/transfer.c around line 607

if(conn->bits.close) {
        /* When we've read the entire thing and the close bit is set, the server
           may now close the connection. If there's now any kind of sending going
           on from our side, we need to stop that immediately. */
        k->keepon &= ~KEEP_SEND; /* no writing anymore either */
	
	    /* Abort after the headers if "follow Location" is set
		   and we're set to close anyway. */
	    k->keepon &= ~KEEP_RECV;
	    *done = TRUE;		
		break; /*  Break out of the loop   */
      }

This test server closes the connection without a "TLS close notify" being sent to take down the TLS layer, thus this is an abrupt and "dirty" shutdown of the connection. (If I test this with a debug build of curl it will yell at me saying this.)

But...

Without a debug build I still cannot reproduce this issue with 7.74.0 and 7.75-0-DEV using OpenSSL 1.1.1i on my Debian Linux:

curl 7.74.0 (x86_64-pc-linux-gnu) libcurl/7.74.0 OpenSSL/1.1.1i zlib/1.2.11 brotli/1.0.9 libidn2/2.3.0 libpsl/0.21.0 (+libidn2/2.3.0) libssh2/1.9.0 nghttp2/1.42.0 librtmp/2.3
Release-Date: 2020-12-09
Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps mqtt pop3 pop3s rtmp rtsp scp sftp smb smbs smtp smtps telnet tftp 
Features: alt-svc AsynchDNS brotli GSS-API HTTP2 HTTPS-proxy IDN IPv6 Kerberos Largefile libz NTLM NTLM_WB PSL SPNEGO SSL TLS-SRP UnixSockets

curl 7.75.0-DEV (x86_64-pc-linux-gnu) libcurl/7.75.0-DEV OpenSSL/1.1.1i zlib/1.2.11 brotli/1.0.9 zstd/1.4.8 c-ares/1.17.1 libidn2/2.3.0 libpsl/0.21.0 (+libidn2/2.3.0) libssh2/1.9.0_DEV nghttp2/1.42.0-DEV librtmp/2.3
Release-Date: [unreleased]
Protocols: dict file ftp ftps gopher gophers http https imap imaps ldap ldaps mqtt pop3 pop3s rtmp rtsp scp sftp smb smbs smtp smtps telnet tftp 
Features: alt-svc AsynchDNS brotli Debug GSS-API HSTS HTTP2 HTTPS-proxy IDN IPv6 Kerberos Largefile libz Metalink NTLM NTLM_WB PSL SPNEGO SSL TLS-SRP TrackMemory UnixSockets zstd


I will continue to try to get a better reproduceable case.  Thank you for your efforts.

We can no longer cause the problem with the latest curl and openssl.
Please feel free to close this no-longer-a-bug-report.
Thank you again for your time - and for fixing it, however it was done.

Sorry to bring this topic up again.  Our customers continue to run into this problem and after digging deeper into the code we used to recreate the problem, we discovered that the test was not performing as it was intended.
Quick recap: 
  Our customers access remote services using our tools which use libcurl and curl (currently version 7.75 and 7.81).
If the remote service 
 - does **not** include a "Content-length:" header
 - **does** include a "Connection: close"  header
 - closes the connection as its indication of end-of-data
 curl will respond with a "curl: (56) OpenSSL SSL_read: error:02004000:system library:socket:system library, errno 0" error.

I am attaching an improved version of the code and a script that will reproduce the issue.
In particular, the test will cause curl to emit the text:
 "no chunk, no close, no size. Assume close to signal end" and this is exactly the situation that we are having trouble with.

Also in lib/http.c   around line 3882
 /* On HTTP 1.1, when connection is not to get closed, but no
             Content-Length nor Transfer-Encoding chunked have been
             received, according to RFC2616 section 4.4 point 5, we
             assume that the server will close the connection to
             signal the end of the document. */

Tracing the code I see that the 
   conn->bits.close = closeit;
it set properly, and streamclose() has been called against the socket, 
but there might be an issue with handling "keepon" at the end of reading the body, if there has been no content length supplied.

```
curl -V
curl 7.75.0 (x86_64-pc-linux-gnu) libcurl/7.75.0 OpenSSL/1.1.1k zlib/1.2.3 nghttp2/1.42.0
Release-Date: 2021-02-03
Protocols: http https smtp smtps
Features: alt-svc AsynchDNS GSS-API HTTP2 HTTPS-proxy IPv6 Kerberos Largefile libz NTLM NTLM_WB SPNEGO SSL TLS-SRP UnixSockets
```

Same behavior with 7.81

I was looking in the perl based tests for curl, but did not see a test that exercises a missing Content-Length along with a Connection: close.  

Again - thank you for taking time to look at this and thank you for Curl.

The script to run it is just: 
 ```
 # Generate a certificate, key (no password), and a CA.
   make_a_certificate_without_password --name server
  # Stuff the cert and key together into a single file.
   cat server-cert.key > server_key_and_cert.pem
   cat server-cert.pem >> server_key_and_cert.pem 
   echo "Starting HTTPS Server on 8080"
   python3 no_content_length_close.py --once --port 8080 --https --verbose --cert ./server_key_and_cert.pem --key ./server-cert.key  &
   # Have Curl make a request. It will result in a SSL_Read error.
   curl -insecure -v https://localhost:8080/ --cacert ./server-ca.crt 

  # You can also run the above python3 with the --with_close flag which will add the "Connection: close" header.
  # But the results are the same.
  # Adding the --with_cont_len flag, the SSL_read error goes away.
```

Here is the improved and over engineered server code:
no_content_length_close.py
 ```
#no_content_length_close.py
import socket
import ssl
import argparse
import pathlib

HOST = "127.0.0.1"
PORT = 8080
# Instantiate the parser
parser = argparse.ArgumentParser(description='Optional app description')

# Optional arguments
parser.add_argument('--port', type=int, default=PORT, help='Listen port. 8080')
parser.add_argument('--https', default=False, action='store_true', help='Use HTTPS or not')
parser.add_argument('--once', default=False, action='store_true', help='Just one connection then stop.')
parser.add_argument('--verbose', default=False, action='store_true', help='Echo what we are up to')
parser.add_argument('--cert', type=pathlib.Path, default="server-cert.pem", help='TLS Cert')
parser.add_argument('--key', type=pathlib.Path, default="server-cert.key", help='TLS Key')
parser.add_argument('--with_close', default=False, action='store_true', help='Send Connection: close')
parser.add_argument('--with_cont_len', default=False, action='store_true', help='Send Content-length: header')

args = parser.parse_args()

if (args.verbose):
    print (f" args.https {args.https}" )
    print (f" args.port  {args.port}" )
    print (f" args.once  {args.once}" )
    print (f" args.key   {args.key}" )
    print (f" args.cert  {args.cert}" )
    print (f" args.with_close  {args.with_close}" )
    print (f" args.with_cont_len  {args.with_cont_len}" )

server = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
server.setsockopt(socket.SOL_SOCKET, socket.SO_REUSEADDR, 1)

if args.https:
    server = ssl.wrap_socket(server, 
                server_side=True, 
                keyfile=args.key, 
                certfile=args.cert)
                

if __name__ == "__main__":
    server.bind((HOST, args.port))
    server.listen(0)
    try:
        while True:
            connection, client_address = server.accept()
            if (args.verbose):
                print("Accepted client")
            data = connection.recv(1024)
            if not data:
                if (args.verbose):
                    print("NO DATA")
            else:
                if (args.verbose):
                    print(f"Received: {data.decode('utf-8')}")
            if (args.verbose):
                print("Sending")
            connection.send(bytes("HTTP/1.1 200 OK\r\n", "utf-8"))
            
            if args.with_close:
                connection.send(bytes("Connection: close\r\n", "utf-8"))
                if (args.verbose):
                    print("Sending Connection: close")

            if args.with_cont_len:
                connection.send(bytes("Content-length: 22\r\n", "utf-8"))
                if (args.verbose):
                    print("Sending Content-length:")            
            
            connection.send(bytes("\r\n\r\n", "utf-8")) # Header termination
            connection.send(bytes("Useless body content\r\n", "utf-8"))
            if (args.verbose):
                print("Close connection.")
            connection.close()
            
            
            if args.once:
                if (args.verbose):
                    print("Quit.")
                break;
                
    except KeyboardInterrupt:
        pass

    server.close()
    
    print("Server stopped.")
```

The key is the absence of a **TLS close notify**, not which particular HTTP headers that are or are not present.

Thank you for your quick response.

OpenSSL is **very unlikely** to return a TLS close notify and servers are not required to do so by the HTTP RFC.

/* On HTTP 1.1, when connection is not to get closed, but no
Content-Length nor Transfer-Encoding chunked have been
received, according to RFC2616 section 4.4 point 5, we
assume that the server will close the **connection** to
signal the end of the document. */

Even if OpenSSL did issue a TLS close notify (SSL_ERROR_ZERO_RETURN), the error path taken in curl-7.81.0/lib/vtls/openssl.c    ossl_recv() will still return -1 and result in the same SSL_read() error being returned. If I am reading that properly.

If ossl_recv() were to return 0 bytes read, rather than -1, then the processing would allow things to proceed without the error.
transfer.c ~644
      DEBUGF(infof(data, "nread <= 0, server closed connection, bailing"));
      k->keepon &= ~KEEP_RECV;

I am not trying to advocate for swallowing the error, and I realize that this is a possibly undefined or difficult situation.
The server did not provide a Content-Length or Transfer-Encoding, so curl cannot know (absolutely) when the packet is finished.
Curl has finished reading the headers. And in the cases we encounter, the "Connection: close" is present.
Curl **may or may not** have read the whole body.  Its impossible to tell if the server lost power, a cable was cut, or the server  completed writing the packet before closing the socket.

We have almost a dozen customers who are encountering this issue as they make calls to consume data from other providers of remote APIs.  We cannot mandate that the providers close the TLS session before closing the socket, and I believe the RFC does not require it.

What would you suggest?   
Could this be an optional setting for how to handle this situation?
Could this be handled by callbacks that we are allowed to setup for curl to call?

Thank you.

Sorry - I forgot to mention that this used to work in earlier versions of Curl.
Below is the info from a known-working version that handles the situation without the SSL_read() error.
We have not done exhaustive testing to see in what version it stopped working. But we do know that it also failed in 7.63 where our customers started encountering the situation.

curl -V
curl 7.29.0 (x86_64-redhat-linux-gnu) libcurl/7.29.0 NSS/3.36 zlib/1.2.7 libidn/1.28 libssh2/1.4.3
Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtsp scp sftp smtp smtps telnet tftp 
Features: AsynchDNS GSS-Negotiate IDN IPv6 Largefile NTLM NTLM_WB SSL libz unix-sockets 


> curl will respond with a "curl: (56) OpenSSL SSL_read: error:02004000:system library:socket:system library, errno 0" error.

curl 7.81 w/ OpenSSL will allow for a missing termination point if it's a release build of curl **and** OpenSSL allows for it, which AFAIK only is allowed <= 1.1.1. Note closing the connection is not an acceptable TLS termination point even if an HTTP server says 'Connection: close'.

(Using no_content_length_close.py to repro)

A debug build of curl 7.81.0 will show this error:

~~~
curl: (56) OpenSSL SSL_read: Connection closed abruptly, errno 0 (Fatal because this is a curl debug build)
~~~

OpenSSL 3 (ie OpenSSL > 1.1.1) will show this error (or some other errno 0):

~~~
curl: (56) OpenSSL SSL_read: error:0A000126:SSL routines::unexpected eof while reading, errno 0
~~~

Builds of curl 7.81.0 w/ OpenSSL that do not meet the above exceptions should not return an error. Note curl 7.67.0 specifically had a bug #4624 where a missing termination point did return an error always.

Are you running the curl tool or your own app with libcurl? If it's the latter use curl_version() to see what OpenSSL is actually being used.
