curl: (78) Remote file not found

### I did this

```
$ curl "imaps://user:passwd@outlook.office365.com/INBOX?FROM someone"
* SEARCH 12

$ curl "imaps://user:passwd@outlook.office365.com/INBOX;UID=12" -v
*   Trying 52.97.149.82:993...
* Connected to outlook.office365.com (52.97.149.82) port 993 (#0)
* successfully set certificate verify locations:
*   CAfile: /etc/ssl/certs/ca-certificates.crt
  CApath: none
* TLSv1.3 (OUT), TLS handshake, Client hello (1):
* TLSv1.3 (IN), TLS handshake, Server hello (2):
* TLSv1.2 (IN), TLS handshake, Certificate (11):
* TLSv1.2 (IN), TLS handshake, Server key exchange (12):
* TLSv1.2 (IN), TLS handshake, Server finished (14):
* TLSv1.2 (OUT), TLS handshake, Client key exchange (16):
* TLSv1.2 (OUT), TLS change cipher, Change cipher spec (1):
* TLSv1.2 (OUT), TLS handshake, Finished (20):
* TLSv1.2 (IN), TLS handshake, Finished (20):
* SSL connection using TLSv1.2 / ECDHE-RSA-AES256-GCM-SHA384
* Server certificate:
*  subject: C=US; ST=Washington; L=Redmond; O=Microsoft Corporation; CN=outlook.com
*  start date: Jul  2 00:00:00 2020 GMT
*  expire date: Jul  2 12:00:00 2022 GMT
*  subjectAltName: host "outlook.office365.com" matched cert's "*.office365.com"
*  issuer: C=US; O=DigiCert Inc; CN=DigiCert Cloud Services CA-1
*  SSL certificate verify ok.
< * OK The Microsoft Exchange IMAP4 service is ready. [QQBNADYAUABSADAAMgBDAEEAMAAwADAAMwAuAGUAdQByAHAAcgBkADAAMgAuAHAAcgBvAGQALgBvAHUAdABsAG8AbwBrAC4AYwBvAG0A]
> A001 CAPABILITY
< * CAPABILITY IMAP4 IMAP4rev1 AUTH=PLAIN AUTH=XOAUTH2 SASL-IR UIDPLUS MOVE ID UNSELECT CHILDREN IDLE NAMESPACE LITERAL+
< A001 OK CAPABILITY completed.
> A002 AUTHENTICATE PLAIN AGJpMTFpYmExMW9AaG90bWFpbC5jb20ATTRjY2lvNWV2ZXI=
< A002 OK AUTHENTICATE completed.
> A003 SELECT INBOX
< * 12 EXISTS
< * 0 RECENT
< * FLAGS (\Seen \Answered \Flagged \Deleted \Draft $MDNSent)
< * OK [PERMANENTFLAGS (\Seen \Answered \Flagged \Deleted \Draft $MDNSent)] Permanent flags
< * OK [UNSEEN 8] Is the first unseen message
< * OK [UIDVALIDITY 14] UIDVALIDITY value
< * OK [UIDNEXT 93] The next unique identifier value
< A003 OK [READ-WRITE] SELECT completed.
> A004 UID FETCH 12 BODY[]
< A004 OK FETCH completed.
> A005 LOGOUT
< * BYE Microsoft Exchange Server IMAP4 server signing off.
< A005 OK LOGOUT completed.
* Closing connection 0
* TLSv1.2 (OUT), TLS alert, close notify (256):
curl: (78) Remote file not found
```

### I expected the following
The content of the message whose uid is 12

### curl/libcurl version
```
curl 7.71.1 (x86_64-pc-linux-gnu) libcurl/7.71.1 OpenSSL/1.1.1g zlib/1.2.11 libidn2/2.3.0 libpsl/0.21.0 (+libidn2/2.2.0) libssh2/1.9.0 nghttp2/1.41.0
Release-Date: 2020-07-01
Protocols: dict file ftp ftps gopher http https imap imaps pop3 pop3s rtsp scp sftp smb smbs smtp smtps telnet tftp 
Features: AsynchDNS GSS-API HTTP2 HTTPS-proxy IDN IPv6 Kerberos Largefile libz NTLM NTLM_WB PSL SPNEGO SSL TLS-SRP UnixSockets
```

### operating system
`Linux MyHostname 5.7.7-arch1-1 #1 SMP PREEMPT Wed, 01 Jul 2020 14:53:16 +0000 x86_64 GNU/Linux`

Ok, after digging through a bunch of closed (!?) issues I have found out that by replacing UID with MAILINDEX in the url, the request completes fine.

I am a bit upset by this because I tend to spend a lot of time studying the F manual, but instead of finding a 
huge warning about a standard-breaking feature I just got a TBD page https://ec.haxx.se/usingcurl/usingcurl-reademail :/

Yes, indeed... since the `7.62.0` --> https://github.com/curl/curl/issues/2789
We are very welcome to PR... if you want to add this warning

How is this "standard breaking" ?

Here is a copy of the IMAP standard: https://tools.ietf.org/html/rfc3501
The protocol allows specifying requests by assembling the URL with a set of
keywords.
I do not know if there was a reason for that, but messing with those
keywords is "standard breaking".

Il giorno sab 11 lug 2020 alle ore 23:46 Daniel Stenberg <
notifications@github.com> ha scritto:

> How is this "standard breaking" ?
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/curl/curl/issues/5671#issuecomment-657135131>, or
> unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AB3UFLWYGAXRBT62TSOD5HLR3DMSZANCNFSM4OWMQUQQ>
> .
>


[RFC 5092 section 6](https://tools.ietf.org/html/rfc5092#section-6)
~~~
   The <iuid> refers to an IMAP4 message Unique Identifier (UID), and it
   SHOULD be used as the <set> argument to the IMAP4 "UID FETCH"
   command.
~~~
~~~
   iuid             = "/" iuid-only

   iuid-only        = ";UID=" nz-number
                  ; See [IMAP4] for "nz-number" definition
~~~

~~~
3. SHOULD   This word, or the adjective "RECOMMENDED", mean that there
   may exist valid reasons in particular circumstances to ignore a
   particular item, but the full implications must be understood and
   carefully weighed before choosing a different course.
~~~

/cc @nicklasaven @captain-caveman2k 


@jay IMHO that applies server side. If I target a specific server I may need to dig into its quirks, that's ok.

But client side is non-sense to me. How would curl behave if my server actually required some custom query?

We've implemented the IMAP URL parsing and handling in a way we have perceived to be what the spec says.

Following this syntax, I believe you can fetch the resources you may want. I don't think this issue is a bug.

You could argue that we're not following the spec correctly, but then the title is wrong and we could discuss how we could change that if there's someone with a strong will for doing so.

Yeah, sorry about the title. I opened this issue in a moment of frustration for not being able to access a server after having scrupulously dig into the specs. Only in a second moment I discovered that I could indeed fetch the resource in a way that still feels weird to me.

I had a look at the source and noted that UID gets actually parsed, would you mind explaining into what?
As stated before, it might boil down to document curl's behavior.

Ah, maybe I understood.

The first implementation the UID pointed to what the spec calls Message Sequence Number (MSN), instead of the actual UID what is what FETCH returns. Then came https://github.com/curl/curl/issues/2789 which "corrected" this by adding the curl MAILINDEX keyword that points to UID. So this is the situation now:

spec | curl | use
-|-|-
MSN | UID | ?
UID | MAILINDEX | returned by FETCH

Pretty confusing!

Fixing this does not seem hard, but it will of course break backwards compatibility.

I don't understand what you are saying needs changing. As seen in 6987fce for `UID=xxx` in URL we send `UID FETCH xxx` (refer to rfc I quoted earlier) and for `MAILINDEX=yyy` in URL we send `FETCH yyy`. The response to fetch in either case is going to include the yyy mail sequence because that's what's specified for [server responses](https://tools.ietf.org/html/rfc3501#section-7.4): _Immediately following the "*" token is a number that represents a message sequence number._

Here's UID=19 on a mailbox with a few deleted messages.
~~~
> A004 UID FETCH 19 BODY[]
* IMAP 0x2cc458 state change from SELECT to FETCH
< * 14 FETCH (UID 19 BODY[] {551}
~~~
What is the problem with that?



Mmh maybe I have been confused all the time. So when you do this:
```
curl "imaps://user:passwd@outlook.office365.com/INBOX?FROM someone"
* SEARCH 12
```
that 12 is a message sequence number (MSN) (see [7.2.5](https://tools.ietf.org/html/rfc3501#section-7.2.5)) and the table is:

spec | curl
-|-
UID | UID	
MSN | MAILINDEX

If it is like this, one can make things more straightforward by renaming MAILINDEX to MSN, but this is kind of a detail.

"spec" in this case has to be a URL spec for IMAP, not the IMAP protocol spec. I have not seen any IMAP URL spec mention **MSN** but maybe I've just missed that? 

I don't think there's anything for us to do here. I intend to close this soon.

Sorry, I missed the ping to me earlier in this thread.
Just to add a reference in history to the word MAILINDEX it comes from me and I brought it up here
https://github.com/curl/curl/issues/2789#issuecomment-409189742

As I wrote that word came up because I didn't find anything used before. I might have missed that MSN word, I don't know. But I think the rest of the changes back then was correct from a standard perspective without digging up the whole thing again. The important part was to be able to get an email from a unique persistant id (UID) unaffected by deletion of other emails. That was not possible before.