Error when get response of header "[ ]X-Content-Type-Options: nosniff"

### I did this
curl -k -v "https://www.jungnang.go.kr"
### I expected the following
return "HTTP/1.1 302 Moved Temporarily"
### curl/libcurl version
curl 7.87.0 (x86_64-w64-mingw32) libcurl/7.87.0 OpenSSL/3.0.7 (Schannel) zlib/1.2.13 brotli/1.0.9 zstd/1.5.2 WinIDN libssh2/1.10.0 nghttp2/1.51.0 ngtcp2/0.12.1 nghttp3/0.8.0 libgsasl/2.2.0
Release-Date: 2022-12-21
Protocols: dict file ftp ftps gopher gophers http https imap imaps ldap ldaps mqtt pop3 pop3s rtsp scp sftp smb smbs smtp smtps telnet tftp ws wss
Features: alt-svc AsynchDNS brotli gsasl HSTS HTTP2 HTTP3 HTTPS-proxy IDN IPv6 Kerberos Largefile libz MultiSSL NTLM SPNEGO SSL SSPI threadsafe TLS-SRP UnixSockets zstd
[curl -V output]
curl -k -v "https://www.jungnang.go.kr"
*   Trying 211.42.94.23:443...
* Connected to www.jungnang.go.kr (211.42.94.23) port 443 (#0)
* ALPN: offers h2
* ALPN: offers http/1.1
* [CONN-0-0][CF-SSL] TLSv1.0 (OUT), TLS header, Certificate Status (22):
* [CONN-0-0][CF-SSL] TLSv1.3 (OUT), TLS handshake, Client hello (1):
* [CONN-0-0][CF-SSL] TLSv1.2 (IN), TLS header, Certificate Status (22):
* [CONN-0-0][CF-SSL] TLSv1.3 (IN), TLS handshake, Server hello (2):
* [CONN-0-0][CF-SSL] TLSv1.2 (IN), TLS header, Certificate Status (22):
* [CONN-0-0][CF-SSL] TLSv1.2 (IN), TLS handshake, Certificate (11):
* [CONN-0-0][CF-SSL] TLSv1.2 (IN), TLS header, Certificate Status (22):
* [CONN-0-0][CF-SSL] TLSv1.2 (IN), TLS handshake, Server key exchange (12):
* [CONN-0-0][CF-SSL] TLSv1.2 (IN), TLS header, Certificate Status (22):
* [CONN-0-0][CF-SSL] TLSv1.2 (IN), TLS handshake, Server finished (14):
* [CONN-0-0][CF-SSL] TLSv1.2 (OUT), TLS header, Certificate Status (22):
* [CONN-0-0][CF-SSL] TLSv1.2 (OUT), TLS handshake, Client key exchange (16):
* [CONN-0-0][CF-SSL] TLSv1.2 (OUT), TLS header, Finished (20):
* [CONN-0-0][CF-SSL] TLSv1.2 (OUT), TLS change cipher, Change cipher spec (1):
* [CONN-0-0][CF-SSL] TLSv1.2 (OUT), TLS header, Certificate Status (22):
* [CONN-0-0][CF-SSL] TLSv1.2 (OUT), TLS handshake, Finished (20):
* [CONN-0-0][CF-SSL] TLSv1.2 (IN), TLS header, Finished (20):
* [CONN-0-0][CF-SSL] TLSv1.2 (IN), TLS header, Certificate Status (22):
* [CONN-0-0][CF-SSL] TLSv1.2 (IN), TLS handshake, Finished (20):
* SSL connection using TLSv1.2 / ECDHE-RSA-AES256-GCM-SHA384
* ALPN: server did not agree on a protocol. Uses default.
* Server certificate:
*  subject: C=KR; ST=Seoul; O=Jungnang district office; CN=*.jungnang.go.kr
*  start date: Jul  7 00:00:00 2022 GMT
*  expire date: Aug  2 23:59:59 2023 GMT
*  issuer: C=GB; ST=Greater Manchester; L=Salford; O=Sectigo Limited; CN=Sectigo RSA Organization Validation Secure Server CA
*  SSL certificate verify result: self-signed certificate in certificate chain (19), continuing anyway.
* [CONN-0-0][CF-SSL] TLSv1.2 (OUT), TLS header, Supplemental data (23):
> GET / HTTP/1.1
> Host: www.jungnang.go.kr
> User-Agent: curl/7.87.0
> Accept: */*
>
* [CONN-0-0][CF-SSL] TLSv1.2 (IN), TLS header, Supplemental data (23):
* Mark bundle as not supporting multiuse
< HTTP/1.1 302 Moved Temporarily
<  X-Content-Type-Options: nosniff
* Closing connection 0
* [CONN-0-0][CF-SSL] TLSv1.2 (IN), TLS header, Supplemental data (23):
* [CONN-0-0][CF-SSL] TLSv1.2 (OUT), TLS header, Unknown (21):
* [CONN-0-0][CF-SSL] TLSv1.2 (OUT), TLS alert, close notify (256):
curl: (43) A libcurl function was given a bad argument
### operating system
windows 11
![Untitled](https://user-images.githubusercontent.com/26809323/213324720-49aa5421-af38-4224-96b5-04c489fe13b8.png)



The server is sending " X-Content-Type-Options: nosniff" as the first header,
including the space at the beginning. A space is not allowed in a header
field name so curl is (rightly) rejecting it.


> The server is sending " X-Content-Type-Options: nosniff" as the first header, including the space at the beginning. A space is not allowed in a header field name so curl is (rightly) rejecting it.

And so can I do?

Complain to the server admin?


@tatsuhiro-t have you had any similar reports? what do you think?

Ok thanks. I've updated the tag from HTTP/2 to HTTP.

~~~
HTTP/1.1 302 Moved Temporarily
 X-Content-Type-Options: nosniff
~~~

libcurl wants to treat the line ` X-Content-Type-Options: nosniff` as continuation of a previous header, since the line starts with space (refer to folding of [long header fields](https://www.rfc-editor.org/rfc/rfc5322#section-2.2.3)). However, there is no previous header to unfold and so it fails:

https://github.com/curl/curl/blob/c12fb3ddaf48e709a7a4deaa55ec485e4df163ee/lib/headers.c#L298-L305

[RFC 7230 section 3](https://www.rfc-editor.org/rfc/rfc7230#section-3) says that is acceptable. Either reject the message or ignore the rogue lines:

~~~
     HTTP-message   = start-line
                      *( header-field CRLF )
                      CRLF
                      [ message-body ]

   A sender MUST NOT send whitespace between the start-line and the
   first header field.  A recipient that receives whitespace between the
   start-line and the first header field MUST either reject the message
   as invalid or consume each whitespace-preceded line without further
   processing of it (i.e., ignore the entire line, along with any
   subsequent lines preceded by whitespace, until a properly formed
   header field is received or the header section is terminated).
~~~

I don't see a reason for us to take action on this issue. The server just happens to send that bad header first, which fortunately makes it guaranteed to cause a problem instead of a roll of the dice (eg it could have been prepended to some other header that came before it). So yes, contact the server administrator.
