curl's parsing of MAIL_FROM breaks old behavior

### I did this
Upgrade curl on dev system from 7.66 to 7.70. Sending out emails from C code:
```
1792     st_hole_verw_wert("MAIL", "FROMSYSTEM", val);
1793     sprintf(from, "%s <smartld@localhost>", val);
1794     curl_easy_setopt(curl, CURLOPT_MAIL_FROM, from);
```
Section 3.4 defines the `MAIL FROM` header to be:
```
 name-addr       =   [display-name] angle-addr
```
`val` contains the display name here.

### I expected the following
Mails to be send as usual.

### What happened?
Mail server rejects the header:
```
> MAIL FROM:<DI-Programme (Entwicklungssystem) <smartld@localhost>
< 553 5.0.0 <DI-Programme (Entwicklungssystem) <smartld@localhost>... Unbalanced '<'
* MAIL failed: 553
> QUIT
< 221 2.0.0 mail2.siemens.de closing connection
* Closing connection 0
```
68fb25fa3fcff62dda71d2c67894eedf93291e05 introduced `smtp_parse_address()` which defeats the RFC. The previous code did:
```
-  else if(data->set.str[STRING_MAIL_FROM][0] == '<')
-    from = aprintf("%s", data->set.str[STRING_MAIL_FROM]);
-  else
-    from = aprintf("<%s>", data->set.str[STRING_MAIL_FROM]);
```
This is not possible anymore. `smtp_parse_address()` completely misses to parse the optional display name.

### curl/libcurl version
```
curl 7.70.0 (ia64-hp-hpux11.31) libcurl/7.70.0 OpenSSL/1.0.2r zlib/1.2.3
Release-Date: 2020-04-29
Protocols: file http https smtp smtps
Features: GSS-API HTTPS-proxy IPv6 Kerberos libz NTLM SPNEGO SSL TLS-SRP UnixSockets
```

### operating system
`HP-UX deblndw0 B.11.31 U ia64 HP-UX`

@captain-caveman2k 

I have not read up on the specs/details myself so I cannot fix this anytime soon. Clearly we need to dig in and see how we can support that original use case and still be able to handle utf-8 names.

@michael-o you want to take a stab at fixing this? I would imagine that it should simply skip trying to parse the line if found "Unbalanced" like this.

Let me see what I can do, will check SMTPUTF8 and older RFC. But cannot reliably test because our server does not advertise this:
```
250-ENHANCEDSTATUSCODES
250-PIPELINING
250-8BITMIME
250-SIZE 28900000
250-DSN
250-STARTTLS
250-DELIVERBY
250 HELP
QUIT
```

I would recommend to revert these changes for now for 7.70.1 and try to fix for 7.71 or 7.72.

I would presume that we can test this out using test-cases only. And if we can't, we should make sure we can...

OK, just went through the RFC. It does not change the syntax, so the parse function is indeed buggy. What I am not certain is that whether `display-name` is subject to UTF-8. Since the new RFC says:
```
 The following ABNF rules imported from RFC 5321, Section 4.1.2, are
   updated directly or indirectly by this document
   o  <Mailbox>
   o  <Local-part>
   o  <Dot-string>
   o  <Quoted-string>
   o  <QcontentSMTP>
   o  <Domain>
   o  <Atom>
```

and display name uses
```
   display-name    =   phrase
   word            =   atom / quoted-string
   phrase          =   1*word / obs-phrase
```

in doubt it is subject to. It has to be extracted also from the input string.

I'm trying to understand what curl did previously that worked for you. 

Looking at the previous behavior:
~~~
-  else if(data->set.str[STRING_MAIL_FROM][0] == '<')
-    from = aprintf("%s", data->set.str[STRING_MAIL_FROM]);
-  else
-    from = aprintf("<%s>", data->set.str[STRING_MAIL_FROM]);
~~~
Did this then send the SMTP command like this for you?
~~~
MAIL FROM:<DI-Programme (Entwicklungssystem) <smartld@localhost>>
~~~
?

Exactly, I have provided the `MAIL FROM` header verbatim with `display-name` and `addr-spec`.

I'm having second thoughts. I think you're expecting this option to do something other than how it is documented to work.

This is what the documentation says:

> Pass a pointer to a null-terminated string as parameter. This should be used to specify the sender's email address when sending SMTP mail with libcurl.
> An originator email address should be specified with angled brackets (<>) around it, which if not specified will be added automatically. 

There's no provision or room left in this description that says "add random stuff on the left side of the email address if the address is within `<brackets>`.

I see, you are right. But I concur with the argument that `STRING_MAIL_FROM` directly maps to `MAIL FROM` header which explicitly allows a display name. This specially would mean that display names aren't supported at all or at least not if you use UTF-8 features which breaks RFC 6531.

> This specially would mean that display names aren't supported at all

The libcurl documentation makes no mention of "display names" for this option. I read that as they're not supported. The docs only say this is for an email address.

> I think it would help to improve docs to explicitly refer to the RFC sections what this option is curl clearly supports.

I disagree strongly. I think the man page should clearly spell out what argument it wants and for what purpose so that users can figure it out without having to read a single RFC. Usually the implementation then supports a large variety of RFCs and information best practices.

So it was just a coincidence that it worked. I see to options here to keep curl being a decent mail library:

1. Introduce `STRING_MAIL_FROM_DISPLAY_NAME` and provide for it
2. Introduce `STRING_MAIL_FROM_ADDRESS` and deprecate `STRING_MAIL_FROM` or keep the latter by referring in its docs to `STRING_MAIL_FROM_DISPLAY_NAME` to avoid further issues like this.

Really?

The [RFC 5322 section 3.4](https://tools.ietf.org/html/rfc5322#section-3.4) that you referred to earlier seems to talk about address fields among "mail headers", which not what this option is for.

This is the `MAIL FROM` command detailed in [RFC 5321 section 4.1.1.2](https://tools.ietf.org/html/rfc5321#section-4.1.1.2). It accepts a `Reverse-Path` as argument. The `Reverse-Path` is then detailed in section [RFC 5321 section 4.1.2](https://tools.ietf.org/html/rfc5321#section-4.1.2). It's a little complicated there in the spec, but I don't see it allowing the "display name" part at all...

Let me check that please...

Thanks for digging. I was, for some strange reason, on the wrong path. You are, of course, right. This is a SMTP command, not a header: `MAIL FROM` != `From`. I think we can easily close this after a quick verification on my sight. At the end it is good that we had this discussion because other might trip over this too.

Verified with 7.68.0 and 7.70.0. Our code was crappy all the years, but we never noticed because curl just passed the value and our mail server also accepted thi junk. I am closing this. @bagder Thank you for the pointers. Those who trip can use this as reference.