localhost. resolution is broken 

### I did this

On my setup I use a localhost. domain to separate different local installation like k3d clusters. When want to access an endpoint it fails because if uses the wrong ip address:
```
curl http://k3d-ipl.k3d.localhost/echo -vvvv
* Host k3d-ipl.k3d.localhost:80 was resolved.
* IPv6: ::1
* IPv4: 127.0.0.1
*   Trying [::1]:80...
* connect to ::1 port 80 from ::1 port 63575 failed: Connection refused
*   Trying 127.0.0.1:80...
* connect to 127.0.0.1 port 80 from 127.0.0.1 port 63576 failed: Connection refused
* Failed to connect to k3d-ipl.k3d.localhost port 80 after 0 ms: Couldn't connect to server
* Closing connection
curl: (7) Failed to connect to k3d-ipl.k3d.localhost port 80 after 0 ms: Couldn't connect to server

```

### I expected the following

All other tools I use get the correct ip-address (eg. dig, nslookup, telnet, wget)
```
dig k3d-ipl.k3d.localhost

; <<>> DiG 9.10.6 <<>> k3d-ipl.k3d.localhost
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 47192
;; flags: qr aa rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 1232
;; QUESTION SECTION:
;k3d-ipl.k3d.localhost.         IN      A

;; ANSWER SECTION:
k3d-ipl.k3d.localhost.  3600    IN      A       127.0.0.6

;; Query time: 1 msec
;; SERVER: 127.0.0.2#53(127.0.0.2)
;; WHEN: Sat Nov 23 11:56:31 CET 2024
;; MSG SIZE  rcvd: 66

```

### curl/libcurl version

curl 8.7.1 (x86_64-apple-darwin24.0) libcurl/8.7.1 (SecureTransport) LibreSSL/3.3.6 zlib/1.2.12 nghttp2/1.62.0


### operating system

Darwin MacBook-Pro-von-Martin.local 24.1.0 Darwin Kernel Version 24.1.0: Thu Oct 10 21:03:15 PDT 2024; root:xnu-11215.41.3~2/RELEASE_ARM64_T6000 arm64

aka: macOS Sequoia 15.1.1

`.localhost` is a special domain according to RFC 6761: 

> Users may assume that IPv4 and IPv6 address queries for localhost names will always resolve to the respective IP loopback address.

... and that's what curl does.

This interpretation of the RFC seems very abbreviated to me

RFC 6761 - Chapter 6.3
> The domain "localhost." and any names falling within ".localhost." are special in the following ways:

> 1.  Users are free to use localhost names as they would any other
       domain names.  Users may assume that IPv4 and IPv6 address
       queries for localhost names will always resolve to the respective
       IP loopback address.

> 2. Application software MAY recognize localhost names as special, or
       MAY pass them to name resolution APIs as they would for other
       domain names.

> 3. Name resolution APIs and libraries SHOULD recognize localhost
       names as special and SHOULD always return the IP loopback address
       for address queries and negative responses for all other query
       types.  Name resolution APIs SHOULD NOT send queries for
       localhost names to their configured caching DNS server(s).

RFC 5735 - Special Use IPv4 Addresses
> 127.0.0.0/8 - This block is assigned for use as the Internet host
   loopback address.  A datagram sent by a higher-level protocol to an
   address anywhere within this block loops back inside the host.  This
   is ordinarily implemented using only 127.0.0.1/32 for loopback.  As
   described in [[RFC1122], Section 3.2.1.3](https://datatracker.ietf.org/doc/html/rfc1122#section-3.2.1.3), addresses within the entire
   127.0.0.0/8 block do not legitimately appear on any network anywhere.

I understand that localhost -> 127.0.0.1/32 was a thing for a long time, but RFCs go much further and modern OS-Versions like MacOS and up-to-date Linux (Kali, Ubuntu) also implements 127.0.0.1/8 and the usage of multiple loopback ips

I agree that asking for a resolution of 'localhost.' resolves to 127.0.0.1, but a query for 'test.localhost.' should resolve to 127.0.0.6 as configured in my local dns server. This is allowed by the RFCs and it also works by the default libraries and other commands 

Ref: https://github.com/curl/curl/issues/11104

I fully support the basic premise of the reference, .localhost must  resolve to loopback addresses and not to any other networks.

But there is a deviation from my ticket to the reference, I'm not talking about creating a different (non-RFC compliant) setup. However, loopback is more than just 127.0.0.1 but a block with /8.

So my understanding is: a request for a *.localhost. name must return a response from this block, but the response does not have to be .1

You want curl to still perform a DNS resolve for the `.localhost` name and **if** it actually returns a loopback address, that one should be used? Is there any other tools that do this?

Why do you *have to* use a `.localhost` name if you still want it to be resolved? Why not just use another domain?

.localdomain is a popular one used for this purpose, although it looks like it's not (yet?) standardized.


I'm working a lot with kubernetes and istio and doing experiments locally on my system if I want to test new versions or features. As well we are using such a setup for Newbies to learn. Tools like k3d give me the possibility to startup new clusters in minutes, but normally this tools give you than access via some tunneling or vpn into this clusters. So you do ingress into the cluster on a normal way and you can't or only very hardly can test communcation between clusters.

As I want to have a setup which is similar to production there is the option (at least with k3d/k3s) to bind the ingress to a local ip. If this local ip than has a name - either thru /etc/hosts or a local DNS server - one can simulate production like ingress - also with HTTPS on the default ports - and Cluster to Cluster communication. 

Yes either IPs and domainnames can be used, It would be possible to setup local private subnet or a .local/.lan/.private domain. As discussed before I think that is not the indented way from the RFCs, rather loopback and .localhost should be used for such cases.

Regarding the questions for other tools, I made following test on my  macBook: 
I run a static-web-server on 127.0.0.1:5001

`2024-11-29T06:32:38.975190Z  INFO static_web_server::info: http1 server is listening on http://127.0.0.12:5001`

```
telnet test.localhost 5001
Trying ::1...
telnet: connect to address ::1: Connection refused
Trying 127.0.0.12...
Connected to test.localhost.
Escape character is '^]'.
GET / HTTP/1.1
Host: test.localhost

HTTP/1.1 200 OK
content-length: 187
content-type: text/html
accept-ranges: bytes
last-modified: Fri, 29 Nov 2024 06:28:44 GMT
vary: accept-encoding
cache-control: public, max-age=86400
date: Fri, 29 Nov 2024 06:33:03 GMT

<!DOCTYPE html>
<html>
    <head>
        <title>Hello Curl</title>
    </head>
    <body>
        <p>This is an example of a simple HTML page with one paragraph.</p>
    </body>
</html>

```

```
 wget -O - test.localhost:5001
Prepended http:// to 'test.localhost:5001'
--2024-11-29 07:45:29--  http://test.localhost:5001/
Auflösen des Hostnamens test.localhost (test.localhost)… 127.0.0.12
```
```
http test.localhost:5001
HTTP/1.1 200 OK
```

```
curl test.localhost:5001 -vv
* Host test.localhost:5001 was resolved.
* IPv6: ::1
* IPv4: 127.0.0.1
*   Trying [::1]:5001...
* connect to ::1 port 5001 from ::1 port 56446 failed: Connection refused
*   Trying 127.0.0.1:5001...
* connect to 127.0.0.1 port 5001 from 127.0.0.1 port 56447 failed: Connection refused
* Failed to connect to test.localhost port 5001 after 0 ms: Couldn't connect to server

```

The language can be interpreted more than one way. To me it implies a single respective address for both "localhost." and "foo.localhost" so I don't think we were wrong to hardcode that but I see his point. 

@schretzi those other tools you tested does not adhere to the RFC at all, so `.loclahost` hosts can point to anything. I don't think that's an argument for your view.

Firefox for example, connects to 127.0.0.1 for "curl.localhost", without trying to resolve the name. Like curl.

Oh it's closed, so it will work in the next release? 

no I don't see a change. here is the code that you can modify for your own purposes.

https://github.com/curl/curl/blob/b1ef0e1a01c0bb6ee5367bd9c186a603bde3615a/lib/hostip.c#L800-L802

which looks wrong now that i think about it because it doesn't cover fqdn format "localhost.". you could probably do  `http://k3d-ipl.k3d.localhost./echo` but i don't think the intention was for that to not be hardcoded so i've submitted a pr to hardcode it #15676.

unless there is traction with some collaborators to change hardcoding it's going to stay this way

> Oh it's closed, so it will work in the next release?

I believe that curl adheres to the spec, similar to how the browsers do. There has been nothing presented here that has pointed out a flaw in that reasoning. If you need other behavior, you can easily use another TLD and then avoid the hardcoded resolve.

Interesting, I clearly pointed out that curl is misbehaving here compared to the RFCs. [*.].localhost. shall resolve to a loopback address and loopback is defined as a block, not a single ip.

But thx for the clear answer. It's said as a used curl a lot but I can switch to an alternative that works

You are mistaken though.

There is absolutely nothing in the RFC that says localhost should be possible to resolve to a user customizable loopback address.

It follows the spec because the spec says the name should resolve to a loopback address, and it does.

You ask for an additional feature which while it might be reasonable, is not about spec compliance.