Inconsistent casing percent escaping in url-encoding

### I did this

When using `curl_easy_escape()` characters get encoded with uppercase percentage:

```r
curl_easy_escape("foo;bar")
# foo%3Bbar
```

However when using the URL parser with `CURLU_URLENCODE` and setting e.g. `CURLUPART_PATH` then we get a lowercase:

```r
curl:::curl_modify_url('https://test', path = 'foo;bar')
# "https://test/foo%3bbar
```

Is this intentional? The ambiguity is technically not incorrect but makes it more difficult to write tests.

### I expected the following

_No response_

### curl/libcurl version

8.14.1

### operating system

MacOS 15

[RFC 3986 section 2.1](https://datatracker.ietf.org/doc/html/rfc3986#section-2.1) says

> For consistency, URI producers and normalizers should use uppercase hexadecimal digits for all percent-   encodings.
