If iPAddress is set in subjectAltName certificate, Common Name is not examined for hostname match

### I did this

I used server security certificates with subjectAltName field iPAddress containing IP addresses and the Common Name (CN) containing server hostname with curl 7.50.2 client.
### I expected the following

I expected the certificate to be accepted by curl because the CN field matched the server hostname, as usual.
### curl/libcurl version

curl 7.50.2 (sparc-sun-solaris2.12) libcurl/7.50.2 OpenSSL/1.0.2h zlib/1.2.8-T4mods libidn/1.33 libssh2/1.7.0 nghttp2/1.9.2
Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtsp scp sftp smb smbs smtp smtps telnet tftp
Features: IDN IPv6 Largefile GSS-API Kerberos SPNEGO NTLM NTLM_WB SSL libz TLS-SRP HTTP2 UnixSockets
### operating system

Solaris
### Problem

These server certificates that are valid are no longer accepted by curl.

The root cause seems to be that if iPAddress is set in subjectAltName, Common Name is not examined for server hostname match. It is a regression from #875 or a related fix.

[RFC 6125, Section 6.4.4 Checking of Common names](https://tools.ietf.org/html/rfc6125#section-6.4.4) lists cases in which a client must not seek a match against CN (e.g.; values exist in DNS-ID, SRV-ID, URI-ID), but iPAddress is not among them. This seems logical, since iPAddress should by definition contain an IP address and not a name, and would never theoretically match anyhow. 

I think that the fix would be to ignore the Common Name in the server certificate not because subjectAltName simply exists, but rather because DNS-ID, SRV-ID, or URI-ID have values subjectAltName.


Error message:
curl: (51) SSL: no alternative certificate subject name matches target host name 'myserver'

I believe it comes from b6fcdc32eb346ab2e1, changed in #959 

hm. We had discussed this during #959 review and ultimately decided to emulate browser behavior. Do you think it was a mistake? The RFC he's citing says IP addresses are "[out of scope](https://tools.ietf.org/html/rfc6125#section-1.7.2)" and it doesn't address them.

As reported in #959: "Firefox and Chrome don't default to CN when iPAddress is present but dNSName is not." which puts libcurl in a fairly good company I think.

Why would anyone use CN at all when clearly SAN is already used? I mean, why don't you use dnsName and iPAddress @wmsch ? CN has been deprecated since basically forever.

You make a good point about using CN when SAN is already used; however, we have customers with these certificates using CN in place, and [RFC 6125, Section 6.4.4 Checking of Common names](https://tools.ietf.org/html/rfc6125#section-6.4.4) supports them. The RFC is definitive, and the web browsers are not. Regarding other clients, wget will accept CN with iPAddress in SAN. 

This still seems to be a regression, and accepting these certificates poses no security threat.

I'm saying it does not seem definitive in this case, they both seem open to interpretation.

If the iPAddress is not covered by that standard then in that RFC can we consider it an application specific identifier for SAN? I did another test with the browsers using a CN foo and connected to https://foo when there is only an iPAddress in SAN and the browsers failed, which is not surprising given the other tests I did with IP addresses. Do you have any problems connecting in browsers?

(_Also, a slight correction, I looked at RFC 6125 again and actually does mention IP addresses in the non-normative (read: not part of the standard) appendix section where it [quotes](https://tools.ietf.org/html/rfc6125#appendix-B) the older RFC, though that seems to be irrelevant in this case._)



@jay : The IP address (or iPAddress) is not specific to any application, so do not see why it should be considered an application-specific identifier for SAN, so my interpretation is that if neither DNS-ID, SRV-ID nor URI-ID have values, then CN may be consulted.

Regarding web browsers: I am having what seem to be unrelated problems using Firefox on two different clients with and without dNSName (DNS-ID) in the server certificate, and this is not of immediate concern.

@jay : I see that Firefox will warn the user that the server certificate is only valid for the IP address, and not the hostname, which is in CN. The human user can then accept the server certificate; however, curl is invoked in this case by a script, so the use of curl is actually a bit different than that of a web browser.

I'm not sure what to do about this @bagder, maybe we need another set of eyes from someone with a better technical understanding of the RFC? The "fix" I think would look like this:
~~~diff
diff --git a/lib/vtls/openssl.c b/lib/vtls/openssl.c
index 66fa731..1c67cfd 100644
--- a/lib/vtls/openssl.c
+++ b/lib/vtls/openssl.c
@@ -1127,15 +1127,14 @@ static CURLcode verifyhost(struct connectdata *conn, X509 *server_cert)
   if(altnames) {
     int numalts;
     int i;
-    bool dnsmatched = FALSE;
-    bool ipmatched = FALSE;
 
     /* get amount of alternatives, RFC2459 claims there MUST be at least
        one, but we don't depend on it... */
     numalts = sk_GENERAL_NAME_num(altnames);
 
-    /* loop through all alternatives - until a dnsmatch */
-    for(i=0; (i < numalts) && !dnsmatched; i++) {
+    /* loop through alternatives until we match and we've definitively
+       identified the presence of both accepted types. */
+    for(i = 0; i < numalts; ++i) {
       /* get a handle to alternative name number i */
       const GENERAL_NAME *check = sk_GENERAL_NAME_value(altnames, i);
 
@@ -1143,6 +1142,12 @@ static CURLcode verifyhost(struct connectdata *conn, X509 *server_cert)
         dNSName = TRUE;
       else if(check->type == GEN_IPADD)
         iPAddress = TRUE;
+      
+      if(matched) {
+        if(dNSName && iPAddress)
+          break;
+        continue;
+      }
 
       /* only check alternatives of the same type the target is */
       if(check->type == target) {
@@ -1166,7 +1171,7 @@ static CURLcode verifyhost(struct connectdata *conn, X509 *server_cert)
              /* if this isn't true, there was an embedded zero in the name
                 string and we cannot match it. */
              Curl_cert_hostcheck(altptr, conn->host.name)) {
-            dnsmatched = TRUE;
+            matched = TRUE;
             infof(data,
                   " subjectAltName: host \"%s\" matched cert's \"%s\"\n",
                   conn->host.dispname, altptr);
@@ -1177,7 +1182,7 @@ static CURLcode verifyhost(struct connectdata *conn, X509 *server_cert)
           /* compare alternative IP address if the data chunk is the same size
              our server IP address is */
           if((altlen == addrlen) && !memcmp(altptr, &addr, altlen)) {
-            ipmatched = TRUE;
+            matched = TRUE;
             infof(data,
                   " subjectAltName: host \"%s\" matched cert's IP address!\n",
                   conn->host.dispname);
@@ -1187,15 +1192,12 @@ static CURLcode verifyhost(struct connectdata *conn, X509 *server_cert)
       }
     }
     GENERAL_NAMES_free(altnames);
-
-    if(dnsmatched || ipmatched)
-      matched = TRUE;
   }
 
   if(matched)
     /* an alternative name matched */
     ;
-  else if(dNSName || iPAddress) {
+  else if(dNSName || (iPAddress && target == GEN_IPADD)) {
     infof(data, " subjectAltName does not match %s\n", conn->host.dispname);
     failf(data, "SSL: no alternative certificate subject name matches "
           "target host name '%s'", conn->host.dispname);
~~~


Since I stumbled over the same issue in Python: RFC 6125 is actually not that much relevant but RFC 2818 is. In section 1.4 RFC 6125 clearly says 
> This document also **does not supersede the rules** for verifying service
   identity provided in specifications for existing application
   protocols published prior to this document, such as those excerpted
   under Appendix B.

And in Appendix B.2 it cites the relevant parts from RFC 2818 section 3.1, including:

> If a subjectAltName extension of type dNSName is present, that MUST
   be used as the identity.  Otherwise, the (most specific) Common Name
   field in the Subject field of the certificate **MUST** be used. 

Thus when conforming to these RFC's checking the Common Name if only iPAddress is used in SAN would actually be mandatory.

I've hit a similar problem. The certificate on our customer's server contains both a CN and dNSName (no iPAddress) but the actual values are IP addresses. With curl 7.48.0 and 7.51.0 I can't connect to this server; the error message is `curl: (51) SSL: no alternative certificate subject name matches target host name '<IP address>'`.
I haven't tried to figure out what the RFCs say about this but I know it used to work in at least curl 7.29 and now it doesn't, which is a problem for me and our customer :)

I did some more testing: my scenario worked in curl 7.47.1 but doesn't in curl 7.48.0. Which makes me suspect commit 5f5b626 is the culprit (again).

@dirkfeytons: the RFC are quite clear that the CN should not be consulted if there is a SAN of type dNSAddress. And it is also clear that IP addresses should be type iPAddress even though Internet Explorer expects these to be type dNSAddress anyway :( So for this specific certificate the behavior of curl is correct.

@noxxi: yeah, I've been going through the RFCs and was slowly coming to that conclusion as well :(
I'll feed this back to our customer with the references to the applicable RFC sections. They have their own private CA infrastructure so in theory it shouldn't be too difficult to update their certificate, although from an operational point of view they'll have to be sure it doesn't break communication with existing clients.
Thanks for the information, and sorry for noise.

@dirkfeytons To be clear, this issue is that CN is not being consulted when iPAddress is set. dNSAddress is not being set in these certificates in question, so I think that CN should be consulted for hostname match despite that iPAddress has a value (a numeric address).