HTTP2 Connection reuse issue with curl 7.66

### I did this

Concurrently requesting stuff from nginx servers. Nginx is configured with `http2-max-requests` and `http2-max-concurrent-streams`.

By doing a lot of requests with or without curl multi i get sometimes the following errors.

```
HTTP/2 stream 0 was closed cleanly, but before getting  all response header fields, treated as error
stopped the pause stream!
```

The response return code is 92.

### curl/libcurl version

```
curl 7.66.0 (x86_64-pc-linux-gnu) libcurl/7.66.0 OpenSSL/1.1.1d zlib/1.2.11 brotli/1.0.7 libidn2/2.2.0 libpsl/0.20.2 (+libidn2/2.0.5) libssh2/1.8.0 nghttp2/1.40.0 librtmp/2.3
Release-Date: 2019-09-11
Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtmp rtsp scp sftp smb smbs smtp smtps telnet tftp
Features: AsynchDNS brotli GSS-API HTTP2 HTTPS-proxy IDN IPv6 Kerberos Largefile libz NTLM NTLM_WB PSL SPNEGO SSL TLS-SRP UnixSockets
```


This is not enough information we would need a self contained example to reproduce. Though it reminds me of #1618 which was fixed a while back. #4267 may be similar. You might try from master, let us know.

Though we don't have enough to know how it happens we know the stream has been closed and so send or recv callback will call http2_handle_stream_close, which will error if the response headers were incomplete (bodystarted == false):
https://github.com/curl/curl/blob/2e9b725f67d49a9d7a1f053fe52dd4920c9ab1ad/lib/http2.c#L1467-L1473

Here you can see the check we use in our [nghttp2_on_frame_recv_callback](https://nghttp2.org/documentation/types.html#c.nghttp2_on_frame_recv_callback) to set bodystarted once the headers are completed:
https://github.com/curl/curl/blob/2e9b725f67d49a9d7a1f053fe52dd4920c9ab1ad/lib/http2.c#L689-L706

[HTTP/2 RFC section 8.1](https://tools.ietf.org/html/rfc7540#section-8.1):
~~~
   An HTTP message (request or response) consists of:

   1.  for a response only, zero or more HEADERS frames (each followed
       by zero or more CONTINUATION frames) containing the message
       headers of informational (1xx) HTTP responses (see [RFC7230],
       Section 3.2 and [RFC7231], Section 6.2),

   2.  one HEADERS frame (followed by zero or more CONTINUATION frames)
       containing the message headers (see [RFC7230], Section 3.2),

   3.  zero or more DATA frames containing the payload body (see
       [RFC7230], Section 3.3), and

   4.  optionally, one HEADERS frame, followed by zero or more
       CONTINUATION frames containing the trailer-part, if present (see
       [RFC7230], Section 4.1.2).
~~~

and this gem from the end of that section:
~~~
   An HTTP request/response exchange fully consumes a single stream.  A
   request starts with the HEADERS frame that puts the stream into an
   "open" state.  The request ends with a frame bearing END_STREAM,
   which causes the stream to become "half-closed (local)" for the
   client and "half-closed (remote)" for the server.  A response starts
   with a HEADERS frame and ends with a frame bearing END_STREAM, which
   places the stream in the "closed" state.

   An HTTP response is complete after the server sends -- or the client
   receives -- a frame with the END_STREAM flag set (including any
   CONTINUATION frames needed to complete a header block).  A server can
   send a complete response prior to the client sending an entire
   request if the response does not depend on any portion of the request
   that has not been sent and received.  When this is true, a server MAY
   request that the client abort transmission of a request without error
   by sending a RST_STREAM with an error code of NO_ERROR after sending
   a complete response (i.e., a frame with the END_STREAM flag).
   Clients MUST NOT discard responses as a result of receiving such a
   RST_STREAM, though clients can always discard responses at their
   discretion for other reasons.
~~~

_"after sending a complete response (i.e., a frame with the END_STREAM flag)."_ So that means HEADERS are required right? If the stream was reset no headers and no error (not enough info to know that's what's happening but say it is) would we still error? I can't tell from reading http2.c

/cc @tatsuhiro-t 


I tried to reproduce locally using latest nginx, but didn't get exactly same behavior :unamused: 

I'm always getting `send_error`s locally. Really strange.

> If the stream was reset no headers and no error would we still error?

I'd say *yes*. Similar to how we treat a HTTP/1.1 request that gets closed without a single byte having been transferred.

So over a month since I set the tag and still no way to reproduce or other feedback or information to help out.