FTP: avoid redundant TYPE commands

Hi,

one might notice a pattern here... In my test cases I'm also seeing frequent "TYPE I" and "TYPE A" commands. This is happens each time file upload/download and directory listing operations interleave. File upload/download sets "TYPE I", but directory listing ist hardcoded to "TYPE A":

https://github.com/curl/curl/blob/master/lib/ftp.c#L3585

The thing is, I'm not really using the "LIST" command, but have replaced it with "MLSD", so the output is not ASCII, but UTF8, therefore "TYPE I" is more appropriate. But even in the "LIST" case I'd like to set type "I", because I'm setting "OPTS UTF8" on those servers that support and need it.

And I don't have to mention that I'd like to avoid unneeded roundtrips to improve the performance of my FTP file syncs.

The fix would be to replace
`
result = ftp_nb_type(conn, TRUE, FTP_LIST_TYPE);
`

with:
`
result = ftp_nb_type(conn, data->set.prefer_ascii, FTP_LIST_TYPE);
`

Or am I missing something and there is a reason why "TYPE A" is hard-coded? FWIW, my tests work fine with the above patch.

RFC 959 section 4.1.3 describes for the `LIST` command:

> The data transfer is over the data connection in type ASCII or type EBCDIC. (The user must ensure that the TYPE is appropriately ASCII or EBCDIC).

It then says it for `NLST` too. That's why it uses type A for directory listings. Changing that I'm afraid would risk breaking things.

Okay. FWIW in all my test cases (ProFTPD Server, Microsoft FTP Service, Pure-FTPd), setting "TYPE A" or "TYPE I" didn't make a difference with regards to LIST ouput, which was always UTF8. So I'm mostly interested in avoiding the performance costs of switching TYPE. I/A. I suspect that always keeping "TYPE I" isn't a problem for the majority of newer FTP servers, but it's certainly possible it could break some ancient ones.
Is there some interest for some new CURLOPT_TRANSFERTEXT enum value 2 (always binary)? Otherwise I'll just keep this patch specific to FreeFileSync.

> Is there some interest for some new CURLOPT_TRANSFERTEXT enum value 2 (always binary)?

I don't think you'll get any response here on that question as I bet there's basically just you and me reading this issue. If you want to drum up interest in something like this, I suggest you ask on the curl-library mailing list. I think there's at least a slightly higher chance there, even if FTP is a slowing dying protocol so it might not trigger many people there either.

Personally I find it a bit counter-intuitive to offer such a choice on the `TRANSFERTEXT` option (purely because the name says **text**) but I'm open to change my mind.

In the mean time, I don't think we consider redundant commands in FTP to actually be a *bug* but certainly room for improvement, so I'm going to close this issue. An option could be to add this improvement idea in the TODO docs.